
body {
  &.mobile-menu-active {
    overflow: hidden;
  }
  &.portable {
    padding-top: 114px;
  }
  &.common-home {
    .header-mobile {
      margin-bottom: 10px;
    }
  }
}

.header-mobile {
  display: flex;
  flex-wrap: wrap;
  background: $mobile-header-bg-color;
  margin-bottom: 40px;
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 1px 1px 11px rgba(0,0,0,0.3);
  @media (max-width: 991px) and (min-width: 768px) {
    margin-bottom: 20px;
  }


  &__button-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 50px;
    padding: 10px;
    span {
      display: flex;
      margin: 2px 0;
      width: 30px;
      height: 3px;
      background: $mobile-header-icon-color;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    width: 60%;
    height: 50px;
    justify-content: center;
    flex-grow: 2;
    a {
      text-decoration: none;
    }
    img {
      max-width: 100px;
      max-height: 50px;
    }
  }

  &__cart {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    flex-grow: 1;
    min-width: 40px;
    a {
      position: relative;
      font-size: 21px;
      color: $mobile-header-icon-color;
      i {
        color: $mobile-header-icon-color;
        font-size: 23px;
      }
    }
    .--total {
      background: $mobile-header-icon-color;
      border-radius: 50%;
      font-size: 12px;
      color: $mobile-header-total-color;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: -8px;
      top: -4px;
    }
  }

  &__search {
    width: 100%;
    padding: 5px 15px 10px;
    transition: 0.2s;
    margin: 0 auto;
    background: #ffffff;
    &.active {
      @media (min-width: 768px) {
        width: calc(100% - 130px);
      }
      transition: 0.2s;
      width: calc(100% - 100px);
      margin: -58px auto 0;
      padding: 14px 6px 0 17px;
      background: transparent;
    }

    .search-panel {
      width: 100%;
      input {
        width: 100%;
        border-radius: 6px !important;
        height: 38px;
      }
    }
    .input-group-btn {
      position: absolute;
      display: flex;
      right: 0;
      width: 38px;
      height: 38px;
      .button-search {
        height: auto;
        padding: 0;
        border-radius: 0 6px 6px 0 !important;
        background: transparent;
        @media (max-width: 991px) {
          background: #fff !important;
        }
        i {
          color: #555;
          font-size: 18px;
          display: flex;
        }
        span {
          display: none;
        }

      }
    }
  }

  /*= MENU =*/

  &-menu {
    position: fixed;
    background: #fff;
    width: 100%;
    z-index: 99;
    top: 0;
    bottom: 0;
    transition: 0.2s;
    left: -100%;
    &.active {
      transition: 0.2s;
      left: 0;
    }

    &-bg {
      top: 0;
      background: #000;
      opacity: 0.6;
      position: fixed;
      z-index: 98;
      width: 100vw;
      height: 100vh;
      display: none;
    }

    &__actions {
      background: $mobile-header-bg-color;
      padding: 12px 15px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #ddd;
    }

    &__lang {
      .language__wrap {
        display: none !important;
      }
      .language__compact-wrap {
        display: flex !important;
        position: initial;
        padding: 0;
        margin: 0 !important;
        background: none;
        border: none;
        flex-direction: row;
        transform: translateY(2px);
        &:before {
          display: none;
        }
        li {
          padding: 0;
          order: 2;
          a {
            color: $mobile-header-icon-color;
            font-size: 14px;
            text-transform: uppercase;
            margin: 0 3px 0;
            border: 1px solid $mobile-header-icon-color;
            border-radius: 24px;
            padding: 2px 16px;
            display: flex;

          }
          &.active {
            order: 1;
            a {

              opacity: 0.6;
            }
          }
        }
      }
    }

    &__button-close {
      padding: 0;
      background: none;
      border: none;
      outline: none;
      width: 23px;
      height: 26px;
      span {
        display: flex;
        margin: 2px 0;
        width: 30px;
        height: 3px;
        background: $mobile-header-icon-color;
        transform-origin: left;
        position: relative;
        &:nth-child(1) {
          transform: rotate(45deg);
          top: -8px;
        }
        &:nth-child(2) {
          transform: rotate(-45deg);
          top: 8px;
        }
      }
      &.active {
        position: fixed;
        right: -6px;
        top: 2px;
        background: $mobile-header-bg-color;
        width: 46px;
        height: 46px;
      }
    }

    &__cart {
      margin-right: 0;
    }

    &__box {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }

    &__currency {
      display: flex;
      align-items: center;
      padding: 10px 15px;
      border-bottom: 1px solid #ddd;
      & > span {
        font-size: 16px;
        margin-right: 10px;
      }
      .currency-box {
        margin: 0;
        ul {
          margin: 0;
          li {
            padding: 0;
            line-height: 1;
            b {
              color: $mobile-header-menu-currency-active-color;
              font-weight: 400;
              font-size: 21px;
              transform: translate(-3px, -2px);
              display: block;
              border: 1px solid $mobile-header-menu-currency-active-color;
              border-radius: 24px;
              padding: 3px 8px;
              margin-right: 2px;
            }
            i {
              display: none;
            }
          }
        }
      }

      .dropdown-menu {
        display: flex;
        position: initial;
        padding: 0;
        border: none;
        box-shadow: none;
        background: none;
        &:before, &:after {
          display: none;
        }
        ul {
          li {
            button {
              color: $mobile-header-menu-currency-color;
              font-size: 21px;
              transform: translate(0px, -2px);
              font-weight: 400;
              margin: 0 5px;
            }
          }
        }
      }

    }

    &__categories-button {
      display: flex;
      align-items: center;
      padding: 15px;
      border: none;
      border-bottom: 1px solid #ddd;
      width: 100%;
      background: #fff;
      i {
        transform: translateY(1px);
        font-size: 23px;
        margin-right: 15px;
        color: $mobile-header-menu-icon-color;
      }
      span {
        font-size: 16px;
        color: $mobile-header-menu-text-color;
      }
    }

    &__quick-links {
      display: flex;
      flex-direction: column;
      padding: 0;
      a {
        & > i {
          color: $mobile-header-menu-icon-color;
        }
        & > span {
          display: flex;
          align-items: center;
          position: relative;
          color: $mobile-header-menu-text-color;
        }
      }

    }

    &__account {
      display: flex;
      align-content: center;
      font-size: 16px;
      padding: 10px 15px;
      & > i {
        color: $mobile-header-menu-icon-color;
        margin: 0 18px 0 3px;
        font-size: 23px;
      }
      & > span {
        color: $mobile-header-menu-text-color;
      }
    }

    &__wishlist, &__compare, &__cart {
      display: flex;
      align-items: center;
      position: relative;
      transform: translateY(1px);
      padding: 10px 15px;
      font-size: 16px;
      i {
        color: $mobile-header-menu-icon-color;
        font-size: 23px;
        margin-right: 15px;
      }
      .--total {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
        background: $mobile-header-menu-total-color;
        border-radius: 50%;
        font-size: 12px;
        color: #fff;
        width: 20px;
        height: 20px;
      }
      & > span {
        color: $mobile-header-menu-text-color;
      }
    }

    &__phones {
      display: flex;
      flex-direction: column;
      padding: 15px;
      border-bottom: 1px solid #ddd;
      a {
        display: flex;
        font-size: 16px;
        color: $mobile-header-menu_text_color;
        &:not(:last-child) {
          margin-bottom: 20px;
        }

        i {
          margin-right: 10px;
        }
      }
    }

    &__system-links {
      margin: 6px 0 0;
      padding: 15px;
      list-style: none;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      li {
        font-size: 16px;
        &:not(:last-child) {
          margin-bottom: 15px;
        }
        a {
          color: $mobile-header-menu_text_color;
        }
      }
    }

    &__callback {
      padding: 15px;
      display: flex;
      align-items: center;
      font-size: 16px;
      border-bottom: 1px solid #ddd;
      & > i {
        color: $mobile-header-menu_icon_color;
        font-size: 20px;
        margin-right: 10px;
      }
      span {
        color: $mobile-header-menu_text_color;
      }
    }

  }

  &-catalog {
    left: -100vw;
    position: fixed;
    z-index: 19;
    background: #fff;
    width: 100vw;
    top: 50px;
    height: 100vh;
    overflow-y: auto;
    transition: 0.5s;
    display: none;

    &.active {
      z-index: 999;
      transition: 0.5s;
      left: 0;
      display: block;
    }


    .children-icon {
      width: 30px;
      height: 30px;
      position: absolute;
      right: 15px;
      top: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        color: #666;
        font-size: 21px;
      }
    }
    &__list {
      border-top: 1px solid #ddd;
      list-style: none;
      margin: 0;
      padding: 0;
      & > li {
        display: flex;
        flex-direction: column;
        position: relative;
        & > a {
          display: flex;
          align-items: center;
          padding: 15px;
          position: relative;
          line-height: 1;
          border-bottom: 1px solid #ddd;
          font-size: 16px;
          color: $mobile-header-menu_text_color;
        }
      }
    }

    &__children-list {
      display: none;
      & > .list-unstyled {
        & > li {
          position: relative;
          & > a {
            font-size: 14px;
            display: flex;
            position: relative;
            align-items: center;
            padding: 12px 15px 12px 25px;
            background: #f7f7f7;
            border-bottom: 1px solid #ddd;
            color: $mobile-header-menu_text_color;
          }
          .children-icon {
            top: 6px;
          }
        }
      }
    }
    &__children2-list {
      display: none;
      & > .list-unstyled {
        & > li {
          position: relative;
          & > a {
            font-size: 14px;
            display: flex;
            position: relative;
            align-items: center;
            padding: 12px 15px 12px 35px;
            background: #f1f1f1;
            border-bottom: 1px solid #ddd;
            color: $mobile-header-menu_text_color;
          }

        }
      }
    }
  }
}

.header-mobile-2 {
  border-bottom: 4px solid $main-background-color;
  margin-bottom: 20px;

  &__information {
    background: $top-menu-background-color;
    text-align: center;
    padding: 2px 0;
    span {
      color: $top-menu-color;
      font-size: 14px;
      position: relative;
      display: inline-block;
      line-height: 1;
    }
  }

  &__box {
    display: grid;
    grid-template-columns: 36px 36px 1fr 36px 36px;
    padding: 16px 10px;
  }

  &__button-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 50px;
    padding: 10px;
    span {
      display: flex;
      margin: 2px 0;
      width: 22px;
      height: 3px;
      background: $mobile-header-icon-color;
    }
  }

  &__search {
    display: flex;
    align-items: center;
    justify-content: center;
    &-button {
      background: none;
      border: none;
      padding: 0;
      font-size: 21px;
    }
  }

  &__logo {
    margin: 0 auto;
    img {
      max-width: 90%;
      margin: 0 auto;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    i {
      font-size: 22px;
    }
  }

  &__cart {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    i {
      font-size: 20px;
    }
  }

  &__search {

    &-popup {
      position: fixed;
      z-index: 20;
      background: #fff;
      padding: 20px;
      top: 0;
      height: 100vh;
      left: 0;
      right: 0;
      display: none;
      gap: 10px;
      grid-template-columns: 1fr 40px;
      align-items: flex-start;
      &.active {
        display: grid;
      }
      .form-control {
        height: 36px;
        background-color: #f4f3f5;
        border: 1px solid #ccc;
        &:focus {
          border: 1px solid #ccc;
        }
      }

      #search_main {
        border: 1px solid #ccc;
      }

      .button-search {
        padding: 0;
        width: 40px;
        height: 36px;
        border-radius: 0 !important;
        background-color: #f4f3f5 !important;
        border: 1px solid #ccc;
        border-left: none;
        @media (max-width: 991px) {
          background: #fff !important;
        }
        i {
          color: #999;
          font-size: 18px;
          display: flex;
        }
        span {
          display: none;
        }
      }
    }

    &-close {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 36px;
      &:before, &:after {
        content: '';
        display: flex;
        width: 22px;
        height: 2px;
        background: #333;
        position: relative;
      }
      &:before {
        transform: rotate(45deg);
        top: 1px;
      }
      &:after {
        transform: rotate(-45deg);
        bottom: 1px;
      }
    }
  }

  &__menu {
    background: #333333;
    width: calc(100vw - 60px);
    position: fixed;
    z-index: 20;
    top: 0;
    bottom: 0;
    left: -100%;
    transition: 0.5s;
    &.active {
      left: 0;
      transition: 0.5s;
    }
    &:after {
      content: '';
      display: flex;
      width: 60px;
      position: absolute;
      right: -60px;
      top: 0;
      bottom: 0;
      background: #fff;
    }

    &-logo {
      border-bottom: 2px solid #4d4d4d;
      padding: 20px;
    }

    &-close {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 36px;
      position: absolute;
      right: -42px;
      z-index: 2;
      top: 20px;
      &:before, &:after {
        content: '';
        display: flex;
        width: 26px;
        height: 2px;
        background: #333;
        position: relative;
      }
      &:before {
        transform: rotate(45deg);
        top: 1px;
      }
      &:after {
        transform: rotate(-45deg);
        bottom: 1px;
      }
    }

    &-list {
      list-style: none;
      padding: 0;
      margin: 0;
      & > li {
        width: 100%;
        font-size: 19px;
        color: #fff;
        padding: 20px;
        &:not(:last-child) {
          border-bottom: 2px solid #4d4d4d;
        }
        & > a {
          color: #e9e9e9;

        }
      }
    }

    &-children {
      display: none;
      background: #555;
      margin: 20px -20px -20px;
      overflow: hidden;
      ul {
        padding: 20px 20px 20px;
        background: #555;
        & > li {
          margin-bottom: 10px;
          color: #e9e9e9;
          & > a {
            font-size: 17px;
            color: #e9e9e9;
          }
        }
      }
    }
    &-children-2 {
      display: none;
      background: #555;
      margin: -1px -20px -20px;
      overflow: hidden;
      ul {

        padding: 20px 20px 20px 40px;
        & > li {
          margin-bottom: 10px;
          color: #e9e9e9;
          & > a {
            font-size: 16px;
            color: #e9e9e9;
          }
        }
      }
    }

  }

}

#header-mobile-2-search {
  .button-search {
    background-color: #f4f3f5 !important;
  }
}