.socials {
  margin-left: 2px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
  height: 37px;
  width: 100%;
  font-size: 21px;
  a {
    transition: 0.3s;
    margin-right: 8px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    display: inline-flex;
    &:last-child {
      margin-right: 0;
    }
    &.ok {
      background: url('../image/socials.png') no-repeat 0 0;
    }

    &.facebook {
      background: url('../image/socials.png') no-repeat -42px 0;
    }

    &.twitter {
      background: url('../image/socials.png') no-repeat -84px 0;
    }

    &.vk {
      background: url('../image/socials.png') no-repeat -126px 0;
    }

    &.instagram {
      background: url('../image/socials.png') no-repeat -168px 0;
    }

    &.youtube {
      background: url('../image/socials.png') no-repeat -210px 0;
    }

    &.linkedin {
      background: url('../image/socials.png') no-repeat -252px 0;
    }

    &.pinterest {
      background: url('../image/socials.png') no-repeat -294px 0;
    }
  }
  a:hover {
    transition: 0.3s;
    transform: scale(1.05);
  }

}


@media (max-width: 767px) {
  .socials {
    justify-content: flex-start;
    margin-top: 20px;
  }
}

