/* MAIN - Menu */
.navbar{
  height: auto;
  min-height: auto;
}

.main-menu {
  min-height: $menu_height;
  height: auto;
  margin: 0;
  margin-bottom: 20px;
  border-bottom: 1px solid $menu_border_color;
}

#menu {
  z-index: 110;
  border: none;
  margin: 0;

  .navbar-collapse {
    background: $main-background-color;
    margin: 0;
    position: relative;
    overflow: hidden;
    z-index: 4;
    &+.in {
      background: $main-background-color;
      margin: 0;
      z-index: 40;
      position: relative;
      overflow: hidden;
    }
  }

  .nav {

    & > li {
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      font-family: $menu-main-font-family;

      &:last-child {
        border-right: none;
      }

      & + li {
        border-left: 1px solid rgba(245, 245, 245, 0.28);
      }

      & > a {
        height: $menu_height;
        padding: 0 25px;
        text-align: center;
        font-size: $menu-main-font-size;
        vertical-align: middle;
        background: transparent;
        -webkit-transition: 0.3s ease-out all;
        -o-transition: 0.3s ease-out all;
        transition: 0.3s ease-out all;
        display: flex;
        color: $menu-sub-nav-color;
        align-items: center;
        &.right {
          .item-name {
            order: 1;
          }
          .ico-nav {
            margin-left: 25px;
            order: 2;
          }
        }
        &.left {
          .item-name {
            order: 2;
          }
          .ico-nav {
            margin-right: 25px;
            order: 1;
          }
        }
        &.top {
          flex-direction: column;
          .item-name {
            order: 2;
          }
          .ico-nav {
            order: 1;
          }
        }
        &.bottom {
          flex-direction: column;
          .item-name {
            order: 1;
          }
          .ico-nav {
            order: 2;
          }
        }
        &:hover {
          background: $menu-nav-background-hover-color;
        }

        img {
          height: $menu-main-icon-height;
          width: auto;
        }

      }

      &.open {

        & > a {
          color: $menu-sub-nav-color;
          box-shadow: inset 0 0 35px rgba(0, 0, 0, 0.15);
        }

      }

      &.dropdown > a:after {
        content: '\f0d7';
        font-family: FontAwesome, serif;
        position: absolute;
        right: 6px;
      }

    }

  }

  .dropdown-menu {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1000;
    padding: 10px 0;
    display: none;
    float: left;
    min-width: 100%;
    text-align: left;
    list-style: none;
    background-color: $menu-sub-background-color;
    background-clip: padding-box;
    border-radius: 0;
    border: 1px solid $main-background-color;
    box-shadow: 0 0 5px #ECECEC;
  }
  .vertical-menu {
    .dropdown-menu {
      padding-left: 10px;

    }
  }

  .dropdown-inner {

    a {
      min-width: 100px;
      display: flex;
      align-items: flex-start;
      padding: 10px 20px;
      clear: both;
      line-height: 1.3;
      font-family: $menu-sub-font-family;
      font-size: $menu-sub-font-size;
      transition: 0.1s ease-in-out;
      color: $menu-sub-nav-color;

      .ico-first-child, .ico-second-child, .ico-third-child {
        margin-right: 10px;
      }

      img {
        height: $menu-sub-icon-height;
        width: auto;
      }

      &:before {
        content: '';
        display: inline-block;
        border-radius: 50%;
        height: 9px;
        width: 9px;
        background: #ECEEEF;
        margin-right: 7px;
        border: solid 2px #FFF;
        transition: 0.3s ease-in-out;
      }

      &:hover {
        color: $menu-sub-nav-hover-color;
        background-color: $menu-sub-background-hover-color;
      }
    }

    li {

      a:hover:before {
        height: 10px;
        width: 10px;
        margin-right: 6px;
        border: solid 0 #FFF;
      }
    }

  }

  .mega .dropdown-inner a:before {
    content: '';
    display: none;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    background: #ECEEEF;
    margin-right: 7px;
    border: solid 2px #FFF;
    transition: 0.3s ease-in-out;
    position: absolute;
    left: 6px;
    top: 10px;
  }

  .see-all {
    display: block;
    margin-top: 0.5em;
    border-top: 1px solid rgba(187, 187, 187, 0.28);
    padding: 4px 20px;
    font-size: 14px;
    white-space: nowrap;
    &:hover, &:focus {
      text-decoration: none;
      color: #FFF;
    }
  }

  #category {
    float: left;
    font-weight: 700;
  }

  .btn-navbar {
    font-size: 13px;
    border: none;
  }

}

.dropdown .dropdown-menu {
  border: 1px solid #E7E7E7;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);

  &:before {
    content: '';
    top: -16px;
    left: 7px;
    position: absolute;
    border: 8px solid transparent;
    border-bottom: 8px solid #E7E7E7;
  }

  &:after {
    content: '';
    top: -14px;
    left: 7px;
    position: absolute;
    border: 8px solid transparent;
    border-bottom: 8px solid #FFF;
  }

}
@media (min-width: 768px) {
  #menu {
    .gorizontal-menu:hover {
      .dropdown-menu {
        display: block;
      }
    }



    .vertical-menu:hover {
      .dropdown-menu {
        display: flex;
      }

    }

    &.gorizontal-menu {

      .navbar-nav {
        flex-wrap: wrap;

        & > li {
          flex-grow: 1;
          border-bottom: 1px solid rgba(245, 245, 245, 0.28);
          border-top: 1px solid rgba(0, 0, 0, 0.1);
          border-left: 1px solid rgba(245, 245, 245, 0.28);
          border-right: 1px solid rgba(0, 0, 0, 0.1);

          .dropdown-inner {
            .dropdown-item {
              display: block !important;
            }

            .dropdown-item {
              font-weight: bold;
              &:after {
                display: none;
              }
            }

            .popup-menu {
              position: static;
              //display: block;
              border: none;
              .list-unstyled {
                top: 0;
              }
            }

            &.image-menu {
              align-items: flex-start;

              .dropdown-item {
                font-weight: bold;
                &:after {
                  display: none;
                }
              }

              .popup-menu {
                position: static;
                //display: block;
                border: none;
                .list-unstyled {
                  top: 0;
                }
              }
            }
          }

        }
      }

      .vertical-menu {
        &:hover {
          .dropdown-menu {
            display: flex;
            top: unset;
          }
        }
      }
    }
  }

}
@media (min-width: 768px) and (max-width: 1199px) {
  .border-right {
    width: 100%;
  }
}
@media (max-width: 767px) {
  #menu {
    border-radius: 4px;

    div.dropdown-inner {
      display: block;

      & > ul.list-unstyled {
        display: block;
      }

    }

    div.dropdown-menu {
      margin-left: 0;
      padding-bottom: 10px;

      a:hover, ul li a:hover {
      }

    }

    .see-all {
      margin-top: 0;
      border: none;
      border-radius: 0;
      color: #FFF;
    }

    .dropdown-menu {
      margin: 0;
    }

    .dropdown.open .dropdown-menu {
      position: relative;
      float: none;
      display: block;
      border: none;
      border-radius: 0;
      box-shadow: none;
    }

  }

}
/*---Megamenu---*/
li.dropdown.mega {
  position: relative;
}
#menu .dropdown-menu.mega {
  width: auto;
  margin-left: 0;

  .menu-group {

    ul.list-unstyled a {
      color: $menu-sub-nav-color;
      text-transform: none;
    }
    .list-unstyled {
      a:hover{
        color: $menu-sub-nav-hover-color;
      }
    }

  }

}
.dropdown-menu.mega .menu-group {
  display: block;
  position: relative;

  a {
    text-transform: inherit;
  }

  & > a:after {
    content: "\f105";
    font-family: FontAwesome, serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 14px;
    position: absolute;
    right: 20px;
    top: 45%;
    margin-top: -8px;
  }

  ul.list-unstyled {
    min-height: 15px;

    li {
      position: relative;
      min-width: 180px;
    }

    li:hover .popup-menu {
      position: absolute;
      left: 100%;
      top: 0;
      display: block;
      background: white;
      z-index: 6;
      box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
      border: 1px solid $main-background-color;
      border-left: none;
    }

  }

  &:hover {

    ul.list-unstyled {
      position: absolute;
      left: 100%;
      //top: -10px;
      top: 0;
      display: block;
      background: $menu-sub-background-color;
      z-index: 7;
      box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
      border: 1px solid $main-background-color;
      padding: 0;
    }

  }

  .popup-menu ul.list-unstyled {
    min-height: inherit;
  }

}

#menu .dropdown-menu.mega .menu-group ul.list-unstyled a.has-popup-menu:after {
  color: inherit;
}
li.dropdown.mega:hover > a:before {
  content: '';
  bottom: -7px;
  left: 25px;
  position: absolute;
  border: 6px solid transparent;
  border-bottom-color: #4A99E2;
}
.dropdown .dropdown-menu.mega:before {
  content: '';
  top: -14px;
  left: 35px;
  position: absolute;
  border: none;
}
.popup-menu {
  display: none;
}
@media (max-width: 767px) {
  #menu {

    .dropdown-menu.mega div.dropdown-inner > ul.list-unstyled {
      width: 100%;
      background: #fff;
    }

    .nav > li > a {
      display: block;
      text-align: left;

      br {
        display: none;
      }

    }

  }

  li.dropdown.mega:hover > a:before {
    display: none;
  }
  li.dropdown.mega.open:hover > a:before {
    display: none;
    bottom: 2px;
  }
}
@media (min-width: 1200px) and (max-width: 1345px) {
  .container #menu .nav > li > a {
    padding: 0 20px;
    font-size: $menu-main-font-size - 1px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .main-menu .container #menu .nav > li > a {
    padding: 0 20px;
    font-size: $menu-main-font-size - 2px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-menu .container #menu .nav > li > a {
    padding: 0 11px;
    font-size: $menu-main-font-size - 3px;
  }
}

@media (max-width: 767px) {
  .main-menu {
    height: 47px;
    .container {
      width: 100%;
      padding: 0;
      #menu {
        .navbar-header {
          padding: 0 12px;
        }
        .navbar-collapse {
          top: -2px;
        }
      }
    }
  }
}
/*---Megamenu-END--*/

/* navbar-toggle */
.navbar-toggle {
  float: left;
  margin-left: 0;
  margin-right: 0;
}
#menu {
  #category {
    padding-right: 15px;
    padding-left: 8px;
    font-size: 21px;
    cursor: pointer;
    line-height: 46px;
  }
  .btn-navbar {
    color: $menu-nav-color;
    box-shadow: none;
    .fa {
      font-size: 21px;
    }
  }
}
/* navbar-toggle - END */

#menu {
  .dropdown-menu {
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
    border-top: none;
  }
  .dropdown .dropdown-menu:after {
    content: '';
    top: -6px;
    left: 0;
    position: absolute;
    height: 10px;
    width: 100%;
    border: none;
  }
  li.dropdown.mega:hover > a:before {
    left: 50%;
    margin-left: -6px
  }
}
.dropdown-menu.mega .menu-group ul.list-unstyled {
  display: none;
}
@media (max-width: 767px) {
  #menu {
    .nav > li, .nav > li + li {
      border-left: none;
      border-right: none;
      display: block;
      max-width: 100%;
      width: 100%;
    }
    .nav > li > a {
      font-size: 18px;
      max-width: 100%;
      width: 100%;
    }
    .nav > li.dropdown > a:after {
      right: 20px;
    }
    .dropdown-menu > .dropdown-inner > ul > li {
      width: 45%;
      margin-left: 4%;
      display: inline-block;
      vertical-align: top;
      margin-bottom: 10px;
    }
  }

  .dropdown-menu.mega .menu-group {
    ul.list-unstyled {
      min-height: 20px;
      display: block;
    }
    &:hover ul.list-unstyled, ul.list-unstyled li:hover .popup-menu {
      position: relative;
      left: 0;
      top: 0;
      background: transparent;
      z-index: 1;
      box-shadow: none;
      border: none;
      padding: 0;
    }
  }

  #menu .dropdown-menu {
    .dropdown-inner .menu-group > a, & > .dropdown-inner > ul > li > a {
      font-size: 18px;
      margin-top: 5px;
      margin-bottom: 8px;
    }
    &.mega .dropdown-inner .menu-group > a:after, &.mega .menu-group a.has-popup-menu:after {
      display: none
    }
  }

  #menu {
    .popup-menu {
      border: none;
      display: block;
      opacity: 0.85;
      padding-left: 15px;
    }
    li.dropdown.mega:hover > a:before {
      border-bottom: 6px solid transparent;
    }
    ul .dropdown-menu {
      top: 1px;
    }

    #category {
      color: $menu-nav-color;
    }
  }
  .dropdown .dropdown-menu:before, #menu .dropdown-inner a:before {
    display: none
  }
}
@media (max-width: 699px) {
  #menu .dropdown-menu > .dropdown-inner > ul > li {
    width: 91%;
    margin-left: 5%;
    margin-bottom: 10px;
  }
}
/* Menu GORIZONTAL -  */
@media (min-width: 768px) {

  li.dropdown.vertical-menu {
    position: static
  }
  li.vertical-menu {
    position: relative;
  }
  #menu li.dropdown.vertical-menu .dropdown-menu {
    min-width: 100px;
    max-width: 100%;
  }
  li.dropdown.vertical-menu .menu-group {
    display: inline-block;
    margin: 0 10px 15px;
    vertical-align: top;
  }
  #menu {
    li.dropdown.vertical-menu {
      .menu-group > a, .menu-alone > a {
        font-size: 16px;
        font-weight: bold;
        &:hover {
          color: $menu-sub-nav-hover-color;
          background: $menu-sub-background-hover-color;
        }
      }
    }
    .dropdown-menu .vertical-menu.menu-alone {
      display: inline-block;
      vertical-align: top;
    }
    .vertical-menu.popup-wraper {
      display: inline-block;
    }
    .popup-wraper:hover > .popup-menu {
      position: absolute;
      top: 0;
      left: 100%;
      background: #FFF;
      display: block;
      z-index: 5;

      min-width: 180px;

      a {
        text-align: left;
      }
    }
    .vertical-menu.popup-wraper > a.has-popup-menu:after {
      content: "\f105";
      font-family: FontAwesome, serif;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      font-size: 14px;
      position: absolute;
      right: 2px;
      top: 3px;
      top: 50%;
      transform: translateY(-50%);
    }
    .dropdown .dropdown-menu:before {
      display: none;
    }
    .dropdown-inner a:before {
      display: none;
    }
    li.dropdown:hover > a:before {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 50%;
      margin-left: -6px;
      border: 6px solid transparent;
      border-bottom: 6px solid $menu-sub-background-color;
    }
  }
  #menu .gorizontal-menu .dropdown-menu .vertical-menu.menu-alone {
    display: block;
    margin-left: 0;
  }
  // Images-menu style
  @if $type == 3d {
    body #menu {
      .icons-pos-top .dropdown-menu, .icons-pos-left .dropdown-menu, .icons-pos-bottom .dropdown-menu, .icons-pos-right .dropdown-menu {
        top: auto;
      }
      li.dropdown.icons-pos-top:hover > a:before, li.dropdown.icons-pos-left:hover > a:before,
      li.dropdown.icons-pos-bottom:hover > a:before, li.dropdown.icons-pos-right:hover > a:before {
        bottom: -2px;
      }
    }
  }
  @if $type == flat {
    body #menu {
      .icons-pos-top .dropdown-menu, .icons-pos-left .dropdown-menu, .icons-pos-bottom .dropdown-menu, .icons-pos-right .dropdown-menu {
        top: auto;
      }
      li.dropdown.icons-pos-top:hover > a:before, li.dropdown.icons-pos-left:hover > a:before,
      li.dropdown.icons-pos-bottom:hover > a:before, li.dropdown.icons-pos-right:hover > a:before {
        bottom: -1px;
      }
    }
  }
  @if $type == gradient {
    body #menu {
      .icons-pos-top .dropdown-menu, .icons-pos-left .dropdown-menu, .icons-pos-bottom .dropdown-menu, .icons-pos-right .dropdown-menu {
        top: $menu_height + 1px;
      }
      li.dropdown.icons-pos-top:hover > a:before, li.dropdown.icons-pos-left:hover > a:before,
      li.dropdown.icons-pos-bottom:hover > a:before, li.dropdown.icons-pos-right:hover > a:before {
        bottom: -1px;
      }
    }
  }

}
/* MAIN MENU IMGrs */
// Icon top begin
.icons-pos-top span.ico-nav > img {
  margin-left: 5px;
}
#menu .icons-pos-top a.menu-image-link {
  padding: 0 20px 1px;
}
// Icon left begin
.icons-pos-left > a span.ico-nav {
  position: relative;
  top: 1px;
  & + span {
    vertical-align: middle;
  }
}
#menu .icons-pos-left a.menu-image-link {
  padding: 5px 20px;
}
.icons-pos-left span.ico-nav > img {
  margin-right: 6px;
}
// Icon right begin
.icons-pos-right > a span.ico-nav {
  position: relative;
  top: 1px;
  & + span {
    vertical-align: middle;
  }
}
.icons-pos-right span.ico-nav > img {
  margin-left: 5px;
}
#menu .icons-pos-right a.menu-image-link {
  padding: 5px 20px;
}
// Icon bottom begin
#menu .icons-pos-bottom a.menu-image-link {
  padding: 5px 20px;
}
.icons-pos-bottom span.ico-nav > img {
  width: auto;
  display: block;
  margin: 5px auto 0;
}
/* Icon bottom end */
span.ico-nav-child > img {
  margin-left: -18px;
  position: relative;
}
span.ico-first-child > img, span.ico-second-child > img {
  margin-right: 0;
}




@media (min-width: 768px) {
  #menu .nav > li.dropdown {
    &.icons-pos-left > a:after, &.icons-pos-top > a:after, &.icons-pos-right > a:after {
      position: relative;
      right: -6px;
      top: 1px;
    }
    &.icons-pos-bottom > a:after {
      top: 40%;
    }
  }
}
@media (max-width: 767px) {
  #menu .nav > li > a {
    line-height: 42px;
    height: 52px;
  }
}
// colors style - - - - - - - - - >
.menu_container_width .main-menu {
  background: none;
  .container {
    background: $main-background-color;
  }
}
.menu_full_width .main-menu {
  background: $main-background-color;
}
#menu .see-all:hover, #menu .see-all:focus, .btn-primary, .btn-warning, .product-thumb:hover .button-group button, header .btn-default:hover, .panel-body .trackbar-scale div, .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  background-color: $main-background-color;
}
#menu .nav > li > a {
  color: $menu-nav-color;
  &:hover {
    color: $menu-nav-hover-color;
    background: $menu-nav-background-hover-color;
  }
}
@if $type == flat {
  .menu_full_width .main-menu {
    // border-bottom: none;
  }
  #menu {
    .dropdown-menu {
      top: $menu_height + 1px;
    }
    .btn-navbar {
      background-color: transparent;
    }
    .nav > li > a {
      font-weight: 700;
    }
  }
}
@if $type == 3d {
  .menu_full_width .main-menu {
    border-bottom: 2px solid $main-shadow-background-color;
  }
  .menu_container_width .main-menu {
    border-bottom: none;
    .container {
      box-shadow: 0 2px 0 $main-shadow-background-color;
      border-radius: 3px;
    }
  }
  #menu {
    .dropdown-menu {
      top: $menu_height + 3px;
    }
    .btn-navbar {
      text-shadow: 0 2px 0 $main-shadow-background-color;
      box-shadow: none;
      border: none;
    }
    #category {
      text-shadow: 0 2px 0 $main-shadow-background-color;
    }
    .nav > li > a {
      font-weight: 700;
    }
  }
}
@if $type == gradient {
  .menu_full_width .main-menu {
    padding: 0;
    border: none;
    @include top-gradient($main-background-color, $main-shadow-background-color);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feb701', endColorstr='#ef8400');
  }
  .menu_container_width .main-menu .container {
    padding: 0;
    border: 1px solid $main-shadow-background-color;
    border-radius: 4px;
    @include top-gradient($main-background-color, $main-shadow-background-color);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feb701', endColorstr='#ef8400');
  }
  #menu .see-all:hover, #menu .see-all:focus, .btn-primary, .btn-warning, .product-thumb:hover .button-group button, header .btn-default:hover, .panel-body .trackbar-scale div, .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    @include top-gradient($main-background-color, $main-shadow-background-color);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feb701', endColorstr='#ef8400');
    color: #FFF;
  }
  #menu {
    .dropdown-menu {
      top: $menu_height + 2px;
    }
    .btn-navbar {
      text-shadow: 0 -1px 0 $main-shadow-background-color;
      border: none;
    }
    #category {
      text-shadow: 0 -1px 0 $main-shadow-background-color;
    }
  }
}


/*-- VERTICAL MENU --*/




.side-brands {
  margin-left: 24.8%;

  @media (max-width: 991px) {
    margin-left: 0;
  }

}

.side-slideshow {
  @media (min-width: 1400px) {
    margin-left: calc(25% + 8px) !important;
  }
  margin-left: 340px;
}

.main-vertical-menu {
  position: relative;
  margin-top: 20px;
  z-index: 10;
  .main-menu-top {
    display: flex;
    height: 42px;
    // Заголовок каталога товаров
    .main-menu-title {
      cursor: pointer;
      h4 {
        border: 1px solid $module-border-color;
        border-bottom: none;
        background: $main-background-color;
        color: $menu-nav-color;
        height: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
      }
      i {
        margin: 2px 15px 0 0;
      }
    }

  }

  .main-menu-category {
    margin-bottom: 20px;

    // Каталог товаров
    &_list {
      border: 1px solid $module-border-color;
      border-top: none;
      padding-top: 1px;
      height: 518px;
      width: 310px;
      position: absolute;
      display: none;
      background: $menu-sub-background-color;
      z-index: 10;
      overflow: auto;
      // Категории каталога товаров
      .main-menu-category_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 10px;
        min-height: 40px;
        & > .item-line {
          display: flex;
          justify-content: space-between;
          width: 100%;
          align-items: center;
          border-bottom: 1px solid lighten($menu-sub-nav-color, 40%);
          i {
            float: right;
            color: $menu-sub-nav-color;
            opacity: 1;
          }
          & > a {
            padding: 10px 5px;
            color: $menu-sub-nav-color;
            display: flex;
            align-items: center;
            width: 100%;
            font-size: $menu-main-font-size;
            .item-name {
              color: $menu-sub-nav-color;

              @media (min-width: 992px) {
                width: 100%;
                display: flex;
                align-items: center;
              }
              .number {
                padding-right: 1px;
                color: $button-color;
                margin-right: 5px;
                border: 1px solid $button-color;
                border-radius: 50%;
                min-width: 22px;
                height: 22px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
              }
            }
            .ico-nav {
              order: 2;
            }
            //Классы для иконок
            &.right {
              justify-content: space-between;
              .item-name {
                order: 1;
              }

            }
            &.left {
              .item-name {
                display: flex;
                align-items: center;
                order: 3;
              }
              .ico-nav {
                margin: 0 5px;
                width: 45px;
              }
              .text {
                order: 3;
              }
            }
            &.top {
              flex-direction: column;
              .item-name {
                order: 3;
              }
            }
            &.bottom {
              flex-direction: column;
            }
          }
        }
        &:hover {
          .sub-menu-list {
            display: flex;
            margin-right: 5px;
            flex-wrap: wrap;
          }

          &:not(.bg-img) {
            .sub-menu-list {
              // background-image: none !important;
            }
          }
        }
        &:hover {
          background: $menu-sub-background-hover-color;
          & > .item-line {
            a {
              color: $menu-sub-nav-hover-color;

              span {
                color: $menu-sub-nav-hover-color;;
              }
              .item-name {
                .number {
                  color: $menu-sub-nav-hover-color;
                  border: 1px solid $menu-sub-nav-hover-color;
                }
              }
            }
          }

        }

        // Выезжающее меню
        & > .sub-menu-list {
          display: none;
          background: $menu-sub-background-color;
          outline: 1px solid #d2dae1;
          top: 0;
          left: 100%;
          position: absolute;
          width: 1019px;
          padding: 25px;
          min-height: 516px;
          .shaded-before {
            width: 100% !important;
            display: none;
          }

          &.shaded {

            .shaded-before {
              position: absolute;
              display: block;
              content: '';
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              background: rgba(0,0,0,.3);
              z-index: 6;
            }
          }

          &.laminat-line {
            flex-direction: column;

            .sub-child-menu-item {
              width: 100%;
              & > a {
                font-size: 27px;
                background: #404040;
                color: #fff;
                font-weight: 400;
                padding: 5px 10px;
              }

              .sub-child2-menu-item {
                display: flex;
                flex-wrap: wrap;
                margin: 0 -10px;
                a {
                  transition: 0.3s;
                  align-items: flex-start;
                  width: 22.5%;
                  font-size: 21px;
                  margin: 10px;
                  flex-direction: column;
                  &:hover {
                    transition: 0.3s;
                    transform: scale(1.05);
                    background: none;
                    color: #000;
                    border: none;
                    text-decoration: none;
                  }
                  &::before {
                    content: '';
                    width: 100%;
                    height: 165px;
                    display: inline-flex;
                    margin-bottom: 5px;
                    border-radius: 4px;
                    border: 1px solid #d2dae1;
                    background: #ffffff;
                  }

                }
              }

              .first-line {
                & + .sub-child2-menu-item {
                  a {
                    &:nth-child(1) {
                      &::before {
                        background: url('../image/laminat/31.jpg') center;
                      }
                    }
                    &:nth-child(2) {
                      &::before {
                        background: url('../image/laminat/32.jpg') center;
                      }
                    }
                    &:nth-child(3) {
                      &::before {
                        background: url('../image/laminat/33.jpg') center;
                      }
                    }
                    &:nth-child(4) {
                      &::before {
                        background: url('../image/laminat/34.jpg') center;
                      }
                    }

                  }
                }
              }

              .second-line {
                & + .sub-child2-menu-item {
                  a {
                    &:nth-child(1) {
                      &::before {
                        background: url('../image/laminat/tarkett.jpg') no-repeat center;
                        background-size: contain;
                      }
                    }
                    &:nth-child(2) {
                      &::before {
                        background: url('../image/laminat/balterio.jpg') no-repeat center;
                        background-size: contain;
                      }
                    }
                    &:nth-child(3) {
                      &::before {
                        background: url('../image/laminat/classen.jpg') no-repeat center;
                        background-size: contain;
                      }
                    }
                    &:nth-child(4) {
                      &::before {
                        background: url('../image/laminat/egger.jpg') no-repeat center;
                        background-size: contain;
                      }
                    }

                  }
                }
              }

            }

            .shaded-before {
              display: none;
            }
          }

          & > .sub-child-menu-item {
            width: 25%;
            position: relative;
            z-index: 5;
            & > a {
              color: $menu-sub-nav-color;
              width: 100%;
              margin-bottom: 10px;
              padding-right: 10px;
              font-size: $menu-sub-font-size;
              &:hover {
                color: $menu-sub-nav-hover-color !important;
                background: $menu-sub-background-hover-color;
              }
            }

            .title {
              & > span {
                justify-content: center;
                text-transform: uppercase;
                border-bottom: 2px solid #ef532c;
                padding: 5px 0 2px;
              }

            }

            .show-more-link {
              cursor: pointer;
              font-size: 13px;
              white-space: nowrap;
              border-bottom: 1px dotted;
              display: inline-flex;
              margin-bottom: 20px;
              &:hover {
                font-weight: bold;
                color: $menu-sub-nav-color;
                background: none;
              }

            }

            .sub-child-menu-image {
              img {
                display: block;
                height: 100%;
                width: 100%;
                max-width: 100px;
                max-height: 100px;
              }
              margin: 0;
              &:hover {
                background: none !important;
              }
            }
          }
          // Заголовок выезжающеге меню
          .sub-child-menu-item {
            margin-bottom: 20px;

            .sub-child-name {
              font-weight: bold;
              // display: none;

              // color: rgb(255, 255, 255) !important;
              // background: rgb(239, 83, 43);
              display: inline-block;
              border-bottom: 3px solid $main-background-color;
              padding: 5px;
              margin-right: 10px;
              margin-bottom: 10px;
            }

            .show-child-hidden {
              display: none;
            }

            .have-hidden {
              .show-child-hidden {
                display: block;
              }
            }

            .show-child-hidden,
            .hide-child-hidden {
              padding: 5px;
              color: $main-background-color;

              &:hover {
                background: none !important;
                color: $main-background-color !important;
              }
            }

            .hide-child-hidden {
              display: none;
            }

            &.show-mode {
              z-index: 6;
            }

            .child-show-mode {

              position: relative;
              z-index: 6;

              .show-child-hidden {
                display: none;
              }

              .hide-child-hidden {
                display: block;
              }
            }

            & > a {
              width: 100%;
              align-items: center;
              padding: 5px;
              font-weight: bold;



              .ico-second-child {
                align-items: center;
                img {
                  max-width: 25px;
                  margin-right: 8px;
                }
              }
            }

            a.child-hidden {
              display: none;
            }

            .child-menu-list-hidden {
              position: absolute;
              left: 0;
              top: 0px;
              width: 100%;
              background: #fff;
              padding: 10px;
              box-shadow: 0 0 15px rgba(0,0,0,.8);
              display: none;

              .child-category {
                font-weight: bold;
                color: #000;
              }

              a {
                display: block;
                padding: 5px;

                &:hover {
                  color: $menu-sub-nav-hover-color;
                  background: $menu-sub-background-hover-color;
                }
              }

              .child-hidden {
                display: block;
              }
            }

            .child-show-mode .child-menu-list-hidden {
              display: block;
            }
          }
          // Список категория выезжающеге меню
          .sub-child2-menu-item {
            display: block;
            padding-left: 15px;
            & > a {
              display: flex;
              align-items: center;
              padding: 5px;
              margin: -10px 0 10px;
              color: $menu-sub-nav-color;
              &:hover {
                color: $menu-sub-nav-hover-color;
                background: $menu-sub-background-hover-color;
              }
            }
          }

          .mega-image {
            position: absolute;
            bottom: 15px;
            right: 15px;
          }



        }

        &.bg-img {
          .mega-image {
            display: none;
          }
        }

      }
    }
    .open {
      display: block;
    }
  }



}

#stiky_box .main-menu-category_item > .sub-menu-list .sub-child-menu-item .show-child-hidden {
  color: $menu-sub-background-hover-color;
}

@media (max-width: 1399px) {
  .main-menu-title {
    padding-right: 0;
  }

  .side-slideshow {
    position: relative;
    margin-left: 292px;
  }

  .main-vertical-menu {
    .main-menu-category {
      &_list {
        width: 278px;
        height: 448px;

        &.have-nav {
          padding-top: 10px;
        }
        .main-menu-category_item {
          .sub-menu-list {
            min-height: 445px;
            width: 863px;
          }
          & > a {
            width: 258px;
          }
        }
      }

    }
  }
}

@media (max-width: 1199px) {
  .main-vertical-menu {
    .main-menu-category {
      &_list {
        width: 227px;
        height: 372px;
        .main-menu-category_item {
          .sub-menu-list {
            min-height: 370px;
            width: 713px;
            & > div {
              width: 33.3333333%;
            }
          }
          & > a {
            width: 207px;
          }
        }
      }
    }
  }


  .side-slideshow {
    .owl-wrapper {
      height: 323px;
    }
    .slideshow-container {
      width: 100% ;
      .owl-wrapper-outer {
        height: 324px;
      }

    }
    .col-xs-12.col-md-4 {
      display: none ;
    }
  }


}

@media (max-width: 991px) {

  #menu .nav > li > a {
    display: flex;
    padding: 5px 20px !important;
  }
  .side-slideshow {
    position: relative;
    margin-left: 292px;
  }
  .side-slideshow {
    margin-left: 0;
    .owl-wrapper {
      height: auto;
    }
    .slideshow-container {
      width: 100% ;
      .owl-wrapper-outer {
        height: auto;
      }

    }
  }
}

.navbar-nav {
  @media (min-width: 1200px) {
    margin: 0 -15px;
    display: flex;
  }

  .mega {

    .dropdown-inner {
      width: 100%;
      &.image-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }


    &.cols-4 {

      .dropdown-menu {

        .dropdown-inner {

          & > .list-unstyled > li {
            width: 23%;
          }

        }



      }

    }

    &.cols-5 {

      .dropdown-menu {

        .dropdown-inner {

          & > .list-unstyled > li {
            width: 18%;
          }

        }



      }

    }


  }

  .menu-image-link {
    .ico-nav {
      display: flex;
      align-items: center;
      min-width: 35px !important;
      height: 34px;
      margin: 5px;
      & > img {
        max-width: 100%;
        height: auto;
      }
    }
  }

}

.item-line {
  .ico-nav {
    display: flex;
    align-items: center;
    width: 35px;
    height: 34px;
    justify-content: center;
    @media (min-width: 992px) {
      margin: -10px;

    }
    & > img {
      max-width: 100%;
      height: auto;
      height: $menu-main-icon-height;
    }
  }
}

.main-vertical-menu-mobile {
  margin-bottom: 20px;
  height: $menu_height;
  background: $button-color;
  z-index: 100;
  .container {
    width: 100%;
    padding: 0;
  }
  .navbar-header-vertical {
    height: $menu_height;
    background: $main-background-color;
    color: $menu-nav-color;
    .menu-button {
      width: 150px;
      display: flex;
      align-items: center;
      border: none;
      height: $menu_height;
      color: $menu-nav-color;
      font-size: 24px;
      padding: 0 30px;
      & > i {
        margin-right: 10px;
      }
      &:hover, &:focus {
        color: $menu-nav-color;
        box-shadow: none;
        border: none;
      }
    }
  }
  .mobile-menu-category {
    padding: 0;
    position: relative;
    z-index: 80;
    background: $main-background-color;

    border-bottom: 1px solid $main-background-color;
    .menu-image-link {
      cursor: pointer;
      font-size: 18px;
      height: 54px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $menu-nav-color;
      padding: 5px 30px;
      .item-line {
        padding: 5px 0;
        display: flex;
        width: 100%;
        align-items: center;
        @media (max-width: 767px) {
          width: 94%;
        }
        & > a {
          color: $menu-nav-color;
        }
        &.right {
          span,a {
            order: 1;
          }
          .ico-nav {
            order: 2;
          }
        }
        &.left {
          span,a {
            margin-right: 25px;
            order: 2;
          }
          .ico-nav {
            order: 1;
          }
        }
        &.top {
          align-items: flex-start;
          flex-direction: column;
          span,a {
            order: 2;
          }
          .ico-nav {
            order: 1;
          }
        }
        &.bottom {
          align-items: flex-start;
          flex-direction: column;
          span,a {
            order: 1;
          }
          .ico-nav {
            order: 2;
          }
        }
      }
      &:hover {
        color: $menu-nav-hover-color;
        background: $menu-nav-background-hover-color;
        a {
          color: $menu-nav-hover-color;
          background: $menu-nav-background-hover-color;
        }
      }


    }
    .mobile-menu-child-category {
      cursor: pointer;
      font-size: 16px;
      flex-direction: column;
      line-height: 1.5;
      background: $menu-sub-background-color;
      & > a {
        cursor: pointer;
        font-size: 18px;
        color: $menu-sub-nav-color;
        width: 100%;
        display: inline-block;
        padding: 8px 10px 8px 65px;
        border-bottom: 1px solid #f0f0f0;
        &:hover {
          color: $menu-sub-nav-hover-color;
          background: $menu-sub-background-hover-color;
        }
      }
    }

    .menu-image-sub-link {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 10px 30px 10px 25px;
      font-size: 18px;
      color: $menu-sub-nav-color;
      font-weight: bold;
      border-bottom: 1px solid #e7e7e7;
      background: #f9f9f9;
      &.title {
        @media (max-width: 991px) {
          margin-bottom: 0;
        }
      }
      i {
        margin-left: auto;
      }
      &:hover {
        background: $menu-sub-background-hover-color;
        & > a, span, i {
          color: $menu-sub-nav-hover-color;
        }
      }
      & > span {
        padding-left: 16px;
        &.ico-nav {
          //display: none;
        }

      }
      & > a {
        cursor: pointer;
        font-size: 18px;
        color: $menu-sub-nav-color;
        width: 100%;
        display: inline-block;
        padding: 0 10px 0 15px;
      }
    }
  }
}

@media (max-width: 991px) {
  .main-vertical-menu-mobile {
    height: auto !important;
  }
}

@media (max-width: 480px) {
  .main-vertical-menu-mobile {
    .navbar-header-vertical {
      .menu-button {
        font-size: 21px;
      }
    }
    .mobile-menu-category {
      .menu-image-link {
        font-size: 18px;

      }
      .mobile-menu-child-category {
        & > .list-unstyled {
          & > .menu-group {
            & > a {
              font-size: 16px;
            }
          }
        }
      }

    }
  }
}

.mega-image {
  a {
    padding: 0 !important;
    &:hover {
      background-color: transparent !important;
    }
  }
  @media (max-width: 991px) {
    display: none !important;
  }
  img {
    height: auto !important;
    @media (min-width: 992px) {
      max-width: 240px;
    }
  }
}

/*-- MENU NAV START --*/
.main-menu-category-nav {
  display: flex;
  position: absolute;
  width: 100%;
  background: transparent;
  flex-direction: column;
  align-items: center;
  right: 1px;
  &.top {
    top: -1px;
    .fa-chevron-up {
      font-size: 21px;
    }
    .fa-caret-up {
      font-size: 18px;
      margin-top: -15px;
    }
  }
  &.bottom {
    bottom: -1px;
    .fa-chevron-down {
      font-size: 21px;
    }
    .fa-caret-down {
      font-size: 18px;
      margin-bottom: -17px;
    }
  }
  &__list {
    display: flex;
    width: 100%;
    span {
      position: relative;
      display: flex !important;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-size: 18px;
      padding: 0 !important;
      width: 50%;
      text-align: center;

      &.nav-next {
        top: -3px;
      }

      &.nav-prev {
        bottom: -3px;
      }
    }
  }
  &__quantity {
    width: 100%;
    justify-content: center;
    background: $button-color;
    color: $button-color-text;
    display: flex;
    padding: 5px 0;
    margin-top: 2px;
  }

}

.overflow {
  overflow: hidden !important;
}

/*-- MENU NAV END --*/

.main-vertical-menu .main-menu-category_list {

  &.have-nav.open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 0 40px;
  }
  .main-menu-category_item {

    &.mozaic-mega-menu {
      &  > .sub-menu-list {
        padding: 5px;
        & > .sub-child-menu-item {
          .sub-child-menu-image {
            overflow: hidden;
            border: 1px solid transparent;
            img {
              max-width: 100%;
              max-height: 100%;
              transition: all .8s;
            }

            &:hover {
              border: 1px solid rgba(46, 197, 182, .54);
            }

            & + a {
              display: block !important;
              position: relative;
              height: 0;
              padding: 0;
              margin: 0;
              float: right;
              transition: all .4s;

              span {
                position: absolute;
                display: block;
                top: -100px;
                left: 5px;
                right: 15px;
                width: auto;
                padding: 10px;
                text-align: left;
                font-size: 20px;
                font-weight: normal;
                line-height: 20px;
                color: #fff;
                background: rgba(46, 197, 182, .54);
              }

              &:hover {
                span {
                  background: rgba(46, 197, 182, .8);
                }
              }
            }
          }

        }
      }


    }

    &.triple-mega-menu {
      &  > .sub-menu-list {
        background-size: 100% 100%;
        background-repeat: repeat-x;
        padding: 50px 100px 20px;
        justify-content: space-around;
        & > .sub-child-menu-item {

          width: 25%;
          display: flex;
          flex-direction: column;
          .sub-child-menu-image {
            height: 30%;
            margin-bottom: 20px;
            flex-shrink: 0;
            border: 1px dashed #234990;
            border-radius: 20px;

            img {
              max-width: 100%;
              max-height: 100%;
              transition: all .8s;
            }

            &:hover {

            }

            & + a {
              display: block !important;
              position: relative;
              height: 0;
              padding: 0;
              margin: 0;
              float: right;
              transition: all .4s;

              span {
                position: absolute;
                display: block;
                top: -100px;
                left: 15px;
                right: 15px;
                width: auto;
                padding: 10px;
                text-align: center;
                font-size: 16px;
                font-weight: normal;
                line-height: 20px;
                color: yellow;
                background: rgba(38,109,242,.54);
              }

              &:hover {
                span {

                }
              }
            }
          }

        }
      }


    }

    &.table-mega-menu {
      &  > .sub-menu-list {
        padding: 0;
        padding-left: 110%;
        // min-height: 0;
        & > .sub-child-menu-item {

          width: 50%;
          margin: 0;
          display: flex;
          flex-direction: column;
          .sub-child-menu-image {
            display: flex;
            height: 25%;
            max-height: 111px;
            flex-shrink: 0;
            border: 1px dotted #ec0a22;

            img {
              max-width: 50%;
              max-height: 80%;
              transition: all .8s;
              width: auto;
              height: 80%;
            }

            &:hover {

            }

            & + a {
              display: block !important;
              position: relative;
              height: 0;
              padding: 0;
              margin: 0;
              float: right;
              transition: all .4s;

              span {
                position: absolute;
                display: block;
                top: -65px;
                left: 50%;
                right: 0;
                width: auto;
                padding: 10px;
                text-align: center;
                font-size: 20px;
                font-weight: normal;
                line-height: 20px;
                color: red;
                background: rgba(38,109,242,.54);
                background: transparent;
              }

              &:hover {
                span {

                }
              }
            }
          }

        }
      }


    }

    &.header-mega-menu {
      &  > .sub-menu-list {
        padding: 0;
        .shaded-before {
          position: absolute;
          display: block;
          content: '';
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          width: 100% !important;

        }

        & > .sub-child-menu-item {
          border-right: 1px dashed #d6d6d6;
          width: 25%;
          margin: 0;
          padding: 20px 10px;
          display: flex;
          flex-direction: column;
          &:nth-child(5) {
            background: url('../image/toys.jpg') no-repeat;
            border-right: none;
            background-position: 56% top;
            background-size: cover;
          }
          &:nth-child(6) {
            width: 100%;
            border-right: none;
            background: $menu-sub-background-hover-color;
            flex-direction: row;
            align-items: center;
            & > a[class*='menu-item-'] {
              margin-bottom: 0;
            }

            .baby-all-categories {
              font-weight: normal;
              display: flex;
              align-items: center;
              color: #333;
              opacity: 0.8;
              font-size: 14px;
              &:hover {
                background: none;
                opacity: 1;
                & > span {
                  color: $button-color;
                }
                &:after {
                  color: $button-color;
                }
              }
              & > span {
                width: auto;
                margin-right: 10px;
              }
              &:after {
                content:'\f0da' ;
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: 14px;
              }
            }

          }

          & > a[class*='menu-item-'] {
            /*margin-bottom: 20px;
            border-radius: 20px;
            font-size: 20px;
            color: #ff5857;
            background: #fff;
            border: 1px solid #ff5857;
            text-align: center;*/
            span {
              display: inline-block;
            }
          }

          .sub-child-menu-image {
            display: flex;
            justify-content: center;

            img {
              height: auto;
            }

            &:hover {

            }

            & + a,
            a[class*='menu-item-'] {
              margin-bottom: 20px;
              border-radius: 20px;
              font-size: 20px;
              color: #ff5857;
              background: #fff;
              border: 1px solid #ff5857;
              text-align: center;
              span {

              }

              &:hover {
                color: #fff;
                background: #ff5857;
                border: 1px solid #ff5857;
                span {

                }
              }
            }
          }



        }
      }


    }

    &.action-mega-menu {
      &  > .sub-menu-list {
        background: #222c4b url(../image/tarif-bg.png);
        background-size: contain;
        box-shadow: inset 0 0 160px rgba(250,187,17,1);

        & > .sub-child-menu-item {

          width: 33%;
          margin: 0;
          padding: 0 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .sub-child-menu-image {

            img {
              width: 100%;
              height: auto;
              max-width: 100%;
              max-height: unset;
            }

            &:hover {
              box-shadow: 0 0 30px rgba(250,187,17,.8);
            }
          }
        }
      }


    }

    &.center-img-mega-menu {
      &  > .sub-menu-list {

        & > .sub-child-menu-item {

          width: 25%;
          margin: 0;
          padding: 0 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          &:nth-child(3) {
            width: 50%;




          }

          & > a[class*='menu-item-'] {
            span {
            }

            &:hover {
              span {

              }
            }
          }

          .sub-child-menu-image {
            height: 33%;


            img {
              width: auto;
              max-width: 100%;
              max-height: 100px;
              margin: 0 auto;
            }

            &.brand-name {
              position: relative;
              padding: 20px 0;
              top: 20px;

              img {
                width: auto;
                max-width: 100%;
                max-height: 100%;
                height: auto;
                margin: 0 auto;
              }
            }

            a[class*='menu-item-'] {

              &:hover {
                // opacity: 1;
                span {
                  // top: -100px;
                }
              }
            }

            & + a[class*='menu-item-'] {
              display: block;
              opacity: 1;
              position: relative;
              height: 0;
              padding: 0;
              margin: 0;
              float: right;
              transition: all .4s;

              span {
                position: absolute;
                display: block;
                top: -50px;
                left: 15px;
                right: 15px;
                width: auto;
                padding: 10px;
                text-align: center;
                font-size: 16px;
                font-weight: normal;
                line-height: 20px;
                background: #fff;
                opacity: .6;
                border: 2px solid #000;
                color: #000;

                &:hover {
                  color: #fff;
                  background: #000;
                }
              }
            }

            &:hover {

              & + a {
                // opacity: 1;
                span {
                  // top: -100px;
                }
              }
            }
          }

        }
      }


    }

    &.side-img-mega-menu {
      &  > .sub-menu-list {

        & > .sub-child-menu-item {

          width: 50%;
          margin: 0;
          padding: 0 10px;

          & > a[class*='menu-item-'] {
            width: auto;

            span {
            }

            &:hover {
              span {

              }
            }
          }

          .sub-child-menu-image {
            float: left;
            width: auto;

            img {
              width: auto;
              max-width: 100%;
              max-height: 300px;
              height: 300px;
              margin: 0 auto;
            }

            .sub-child2-menu-image {
              margin-bottom: 40px;
            }

            & + a[class*='menu-item-'] {

              span {
                &:hover {
                }
              }
            }

            &:hover {

              & + a {
                // opacity: 1;
                span {
                  // top: -100px;
                }
              }
            }
          }

        }
      }


    }
  }
}



/* Menu END - */

/*--- SINGE MENU CATALOG - begin ---*/

#single-menu-catalog {
  background: $main-background-color;
  border-top: 1px solid $main-background-color;
  border-bottom: 1px solid $main-background-color;
  position: relative;
  z-index: 10;
  margin-bottom: 15px;
  .single-menu-catalog {
    // Кнопка переключения
    &.text-black {
      .fa-bars {
        background: $main-background-color;
        &:before, &:after {
          background: $main-background-color;
        }
      }
      span {
        color: $main-background-color;
      }
      i {
        color: $main-background-color;
      }
    }

    &__toggle-button {
      @media (min-width: 992px) {
        display: none !important;
      }
      display: flex;
      color: $menu-nav-color;
      background: none;
      border: none;
      outline: none;
      box-shadow: none;
      padding: 10px 0;
      font-size: 24px;
      align-items: center;

      .fa-bars {
        display: block;
        background: $menu-nav-color;
        width: 26px;
        height: 2px;
        margin-right: 15px;
        &:before, &:after {
          content: '';
          display: block;
          background: $menu-nav-color;
          width: 26px;
          height: 2px;
        }
        &:before {
          transform: translateY(-8px);
        }
        &:after {
          transform: translateY(6px);
        }
      }

    }

    // Основное меню
    &__menu {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      height: $menu_height;
      @media (max-width: 991px) {
        display: none;
        position: inherit;

        margin: 0 -34px;
        z-index: 6;
        top: 0;
        background: #fff;
        flex-direction: column;
        align-items: flex-start;
        height: auto;
      }
      @media (max-width: 767px) {
        margin: 0px -15px;
      }
      & > li {
        &.single-menu-catalog__title {
          width: 264px;
          & > span {
            background: darken($main-background-color,5%);
            white-space: nowrap;

          }
          &:hover {
            & > span {
              @if $main-background-color == #ffffff {
                background: darken($main-background-color, 5%);
              } @else {
                background: lighten($main-background-color, 5%);
              }

            }
          }

          @media (max-width: 991px) {
            width: 100%;
            border-bottom: 2px solid #333;
            & > span {
              color: #fff;
            }
          }
        }

        & > a, & > span {
          display: flex;
          padding: 0 30px;
          height: 100%;
          align-items: center;
          justify-content: center;
          font-family: $f-open;
          font-size: $menu-main-font-size;
          color: $menu-nav-color;
          font-weight: 800;
          transition: 0.3s;
          text-transform: uppercase;
          @media (max-width: 991px) {
            color: #333;
            padding: 12px 38px;
            width: 100%;
            justify-content: flex-start;
          }
        }
        & > span {
          cursor: pointer;
          .fa-bars {
            display: block;
            background: $menu-nav-color;
            width: 22px;
            height: 2px;
            margin-right: 15px;
            &:before, &:after {
              content: '';
              display: block;
              background: $menu-nav-color;
              width: 22px;
              height: 2px;
            }
            &:before {
              transform: translateY(-8px);
            }
            &:after {
              transform: translateY(6px);
            }
            @media (max-width: 991px) {
              background: #333;
              &:before, &:after {
                background: #333;
              }
            }
          }
          .fa-angle-down {
            font-size: 24px;
            margin-left: 8px;
            transform: translateY(-1px);
          }
        }
        &:hover {
          & > a, & > span {
            transition: 0.3s;
            color: $menu-nav-hover-color;
            background: lighten($main-background-color,5%);
            .fa-bars {
              background: $menu-nav-hover-color;
              &:before, &:after {
                background: $menu-nav-hover-color;
              }
            }

          }
          .single-menu-catalog__span {
            border-bottom: 2px solid $menu_border_link_color;
          }
          & > ul {
            @media (min-width: 992px) {
              display: block;
            }
          }
        }
        .main-menu-icon {
          margin-right: 5px;
        }

        .single-menu-catalog__span {
          border-bottom: 2px solid transparent;
          padding: 4px 0;
        }
      }
    }

    // 1 уровень
    &__children {
      position: absolute;
      display: none;
      z-index: 10;
      background: #fff;
      list-style: none;
      padding: 0;
      margin: 0;
      left: 15px;
      width: 264px;
      top: 100%;
      border: 1px solid #eae9e9;
      border-top: 1px solid $main-background-color;
      border-bottom: none;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0,0,0,0.23);
      @media (max-width: 991px) {
        position: initial;
        width: 100%;
        left: 0;
        right: 0;
        border-left: none;
      }
      & > li {
        &:not(:last-child) {
          & > a {
            &:after {
              content: '';
              background: #eae9e9;
              left: 15px;
              right: 15px;
              height: 1px;
              position: absolute;
              bottom: 0;
            }
          }

        }
        & > a {
          display: flex;
          align-items: center;
          padding: 10px 15px;
          position: relative;
          font-size: 14px;
          border: 1px solid transparent;
          color: $menu-sub-nav-color;
          @media (max-width: 991px) {
            padding: 12px 38px;
          }
          img {
            display: block;
            max-width: 25px;
            height: auto;
            margin-right: 6px;
          }
          .fa {
            font-size: 16px;
            color: $menu-sub-nav-color;
            margin-left: auto;
          }
          &:hover {
            border: 1px solid $menu-sub-background-hover-color;
            &:after {
              opacity: 0;
            }
          }
        }
        &:hover, &.active {
          & > a {
            border: 1px solid $menu-sub-background-hover-color;
            &:after {
              opacity: 0;
            }
          }
          & > div {
            @media (min-width: 992px) {
              display: flex;
            }
          }
        }
      }
    }

    &__submenu {
      align-items: flex-start;
      position: absolute;
      display: none;
      padding: 30px 25px;
      left: 262px;
      border-left: 1px solid #e0dfe3;
      z-index: 8;
      background: #fff;
      top: 0;
      min-height: calc(100% + 1px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0,0,0,0.23);
      @media (max-width: 991px) {
        position: inherit;
        width: 100%;
        background: #f7f7f7;
        border-bottom: 1px solid #eee;
        padding: 0 15px;
        & > li {
          width: 100%;
        }
      }
      .popup-hidden-bg {
        display: none;
        position: absolute;
        z-index: 1;
        background: rgba(0,0,0,0.5);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
      .image-box {
        display: flex;
        width: 100%;
        max-width: 25%;
        margin-left: auto;
        align-items: center;
        justify-content: center;
        @media (max-width: 991px) {
          display: none;
        }
      }
    }

    // 2 уровень
    &__children2 {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
      &.set-column-1 {
        & > li {
          width: 100%;
        }
      }
      &.set-column-2 {
        & > li {
          width: 50%;
        }
      }
      &.set-column-3 {
        & > li {
          width: 33.33333%;
        }
      }
      &.set-column-4 {
        & > li {
          width: 25%;
        }
      }
      &.set-column-5 {
        & > li {
          width: 20%;
        }
      }
      @media (max-width: 991px) {
        position: inherit;
        width: 100%;
        flex-direction: column;
      }
      & > li {
        width: 33.333333%;
        padding: 0 5px;
        position: relative;
        @media (max-width: 1199px) {
          width: 50%;
        }
        @media (max-width: 991px) {
          width: 100% !important;
          padding: 0 18px;
        }
        & > a {
          display: block;
          padding: 2px 4px;
          font-weight: 600;
          color: $menu-sub-nav-color;
          font-size: 14px;
          text-transform: uppercase;
          margin-bottom: 10px;
          @media (max-width: 991px) {
            font-weight: 400;
            margin: 10px 0;
          }
          img {
            display: block;
            max-width: 25px;
            height: auto;
            margin-right: 6px;
          }
          &.no-link {
            cursor: default;
          }

          @media (min-width: 992px) {
            &:hover:not(.no-link) {
              color: $menu-sub-background-hover-color;
            }
          }

        }
        &.banner-box {
          @media (max-width: 991px) {
            display: none;
          }
          & > a {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            span {
              text-align: center;
            }
          }
        }
      }
      &.has-image {
        @media (min-width: 992px) {
          max-width: 75%;
          width: 100%;
          & > li {
            width: 33.333333%;
            @media (max-width: 1199px) {
              width: 50%;
            }
          }
        }

      }
      .children2-image {
        display: block;
        margin-bottom: 10px;
        max-width: 120px;
        height: auto;
        @media (max-width: 991px) {
          display: none;
        }
      }
      .children2-item-box {
        display: flex;
        align-items: center;
        .fa-angle-down, .fa-angle-up {
          margin-left: 10px;
          font-size: 16px;
        }
      }
    }

    // 3 уровень
    &__children3 {
      list-style: none;
      padding: 0;
      margin-bottom: 26px;
      position: relative;
      @media (max-width: 991px) {
        display: none;
        background: #ececec;
        margin: 0 -34px;
        padding: 10px 34px 5px;
      }
      & > li {
        & > a.--image {
          display: inline-flex;
          float: none;
          padding: 4px;
          margin-bottom: 6px;
          & > img {
            max-width: 80px;
            margin: 0;
          }
        }
        & > a {
          display: inline-flex;
          border: 1px solid transparent;
          align-items: center;
          margin-bottom: 6px;
          padding: 2px 6px 2px 4px;
          font-size: 12px;
          color: $menu-sub-nav-color;
          & > img {
            display: block;
            max-width: 25px;
            height: auto;
            margin-right: 10px;
          }
          &.no-link {
            cursor: default;
          }
          &:hover:not(.no-link) {
            border-bottom: 1px solid $menu-sub-background-hover-color;
          }
        }
        &.price-box {
          & > a {
            background: $main-background-color;
            max-width: 65%;
            margin: 0 auto;
            padding: 8px 10px;
            text-align: justify;
            justify-content: center;
            color: #fff;
            font-size: 19px;
            span {
              font-size: 15px;
            }
          }
        }
        &.all-products-link {

          & > a {
            display: inline-block;
            color: $main-background-color;
            border-bottom: 1px solid;
            &:after {
              font: normal normal normal 14px/1 FontAwesome;
              font-size: inherit;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
              content: "\f178";
            }
          }


        }
      }

      .popup-link {
        color: $main-background-color;
        cursor: pointer;
      }

      .popup-child {
        display: none;
        list-style: none;
        position: absolute;
        padding: 10px;
        line-height: 21px;
        font-size: 13px;
        background: #fff;
        box-shadow: 0 0 15px rgba(0, 0, 0, .8);
        top: 0;
        z-index: 2;
        li {
          a {
            &:hover {
              color: $menu-sub-background-hover-color;
            }
          }

        }
      }

    }

    &__span {
      border-bottom: 2px solid transparent;
      padding: 4px 0;
      &:hover {
        border-bottom: 2px solid red;
      }
    }

  }
}

/*--- SINGE MENU CATALOG - end ---*/


/*--- MENU TYPE 2 - begin ---*/

.menu-type-2 {

  .container {
    position: initial;
  }



  .main-menu {
    background: none;
    border: none;
    #menu  {
      position: initial;
      .navbar-collapse {
        position: initial;
        padding: 0;
        background: none;
        border-bottom: 2px solid $main-background-color;
        .navbar-nav {
          position: initial;
          & > li {
            border: none;
            position: initial;
            a {
              height: 40px;
              color: #333;
              font-weight: 400;
              font-size: 15px;
              &:after {
                display: none;
              }
              &:hover {
                color: $main-background-color;
                background: none;
              }
            }
            .dropdown-menu {
              border: none;
              box-shadow: 1px 8px 10px rgba(0, 0, 0, 0.1);
              border-top: 2px solid $main-background-color;
              padding: 20px 0;
              & > .container {
                padding: 0;
                & > .dropdown-inner {
                  & > ul.list-unstyled {
                    display: grid;
                    gap: 15px;
                    grid-template-columns: repeat(5,1fr);
                    & >li {
                      margin: 0;
                      & > a {
                        font-size: 16px;
                        font-weight: 600;
                        display: inline-block;
                        margin-bottom: 10px;
                        height: auto;
                        padding: 0 20px;
                      }

                      & > ul.list-unstyled {
                        & > li {
                          & > a {
                            padding: 4px 20px;
                            height: auto;
                          }

                        }
                      }

                    }
                  }
                }
              }


            }
          }
        }
      }
    }
  }
}

/*--- MENU TYPE 2 - end---*/