.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: none;
}

.panel-default > .panel-heading.order-list {
  position: relative;
  font-family: $f-roboto;
  padding: 5px 0;
  color: #333;
  background-color: #f5f5f5;
  border-radius: 0 !important;
  border: none !important;

  &:before {
    position: absolute;
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    right: 24px;
    top: 5px;
    background: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 50%;
  }

  &:after {
    position: absolute;
    display: block;
    content: "";
    width: 12px;
    height: 12px;
    right: 33px;
    top: 17px;
    background: #fff;
    border-left: 1px solid #919191;
    border-bottom: 1px solid #919191;
    transform: rotate(135deg);
    transition: all .3s;

  }

  &.collapsed:after,
  &.order-start-collapse:after {
    position: absolute;
    display: block;
    content: "";
    width: 12px;
    height: 12px;
    right: 33px;
    top: 12px;
    background: #fff;
    border-left: 1px solid #919191;
    border-bottom: 1px solid #919191;
    transform: rotate(-45deg);

  }



  .order-list-basket  {
    display: none;
  }

  .order-list-status {
    width: auto;
    text-align: center;

  }

  .order-list-number {
    outline: none;
    color: #2a77b9;
    &:focus,
    &:hover {
      text-decoration: none;
    }
  }

  .order-list-date {
    font-size: 12px;
    font-weight: 500;
    color: #333;
  }

  .order-list-total-prise {
    font-weight: 900;
    font-size: 12px;
    color: #333;
  }

  .order-list-print {
    border: none !important;
    display: none;
  }

  .order-list-right {
    border: none !important;
  }

  .order-list-status {
    min-width: 110px;
    height: 28px;
    margin-top: 6px;
    background: #2fa423;
    color: #fff;

    span {
      padding: 0;
      line-height: 28px;
    }

  }


}

.panel-collapse {



  .order-product-list_left {
    border: none !important;
  }


  .product-list-info {
    padding: 30px 0;
    border-bottom: 1px dashed #dedede;
    .column-product  {
      .product-list-caption {
        a {
          color: #2a77b9;
        }

        .product-caption-article {
          margin: 0;
          padding: 0;
          font-weight: 300;
        }
      }

      .producr-list-price {
        justify-content: space-between;

        .product-caption-price {
          width: 30%;
          font-size: 14px;
          font-weight: 300;
        }

        p {
          padding: 0;
          width: 70px;
          line-height: 30px;
          text-align: center;
          border: 1px solid #ddd;
        }
      }

    }

    .product-list-buy {
      align-items: flex-end;

      .cart-add-button {
        width: 100%;
        padding: 10px;
      }

      .buy-one-click {
        display: block;
        white-space: nowrap;
        padding-left: 20px;
        width: auto;
        height: auto;
        margin-top: 30px;
        border: none;
        font-size: 14px;
        font-weight: 300;
        left: 25px;
        color: #333;
        text-decoration: underline;
        background: transparent url(../image/neoseo_account/icon-mouse.png) no-repeat left center;

        &:hover {
          text-decoration: none;
          background-color: transparent;
        }

      }
    }
  }


  .order-product-list_right {
    border-left: 1px solid #dedede;
    padding-top: 30px;
    padding-bottom: 30px;

    ul {
      margin: 0;
      padding: 0;
    }

    .option-name {
      display: inline-block;
      font-size: 14px;
      font-weight: 900;
      width: 45%;
    }

    .option-value {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      margin-left: 5px;
      font-size: 14px;
      font-weight: 300;
      color: #666;

      &.status {
        display: inline-block;
        width: 110px;
        height: 28px;
        background: #2fa423;
        color: #fff;
        line-height: 28px;
        text-align: center;
      }
    }
  }
}

.panel-group .panel {
  margin-bottom: 0;
  border: none;
}

////////////////////////////////////////////////////////
.block-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 767px) {
    flex-direction: column;
    .block-flex-col {
      margin-bottom: 15px;
    }
  }
}



.login-block {
  padding: 20px 0;
  background: #fff;

  .login-title {
    justify-content: space-between;
    margin-bottom: 0px;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      justify-content: center;

    }

  }

  h1 {
    margin: 0px;
    padding: 0;
    font-size: 30px;
    font-family: $f-open;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    text-align: center;

    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
      text-align: center;
    }
  }

  .row-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }

  input {
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #c7c7c7;
    box-shadow: none !important;
    font-size: 14px;
    font-weight: 300;

    &[type="submit"] {
      padding: 10px;
    }
  }



  .form-group {
    margin-bottom: 30px;
  }

  .login-content {
    padding: 20px 35px 0;

    .col-mail,
    .col-psw {
      padding-left: 44px;
      background-image: url(../image/neoseo_account/reg-mail.png);
      background-repeat: no-repeat;
      background-position: 10px center;
    }

    .col-psw {
      background-image: url(../image/neoseo_account/reg-key.png);

    }
  }

  .login-forgot {
    color: $button-color;
    padding: 10px 0 0;
    white-space: nowrap;
    text-align: left;

    &:hover {
      text-decoration: underline;
    }

    i {
      color: $button-color;
    }
  }

  .login-btns {
    padding-top: 0px;
    padding-left: 0;
    margin: 0 auto;

    .remember {
      color: #999;
      font-size: 12px;
    }

    .block-flex-col {
      align-items: flex-start;
    }

    .socialLogin {
      display: none;
    }

    .btn-reg {
      padding: 0;
      border-radius: 0;
      color: #2a77b9;
      border-bottom: 1px dashed #2a77b9;
      background: none;
      box-shadow: none;

      &:hover {
        border-bottom-color: transparent;
        border-bottom: 1px dashed transparent;
        box-shadow: none;
      }
    }

    .btn-login {
      min-width: 115px;
      background: #444;

      &:hover {
        background: #666;
      }
    }
  }
}




// /////////////////////////////////
.row-colored {
  padding: 16px 35px;
  background: $button-color;
}

.account-container,
.login-block {

  .rating {
    .fa {
      margin-bottom: 10px;
    }

  }

  .socialLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 10px auto;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }

    span {
      position: relative;
      display: block;
      width: 50%;
      text-align: right;
      right: 0px;
      line-height: 22px;
      color: #999;

      @media screen and (max-width: 767px) {
        text-align: center;
        width: 100%;
      }
    }

    #uLogin {
      width: 50%;
      position: relative;
      right: 0px;

      @media screen and (max-width: 767px) {
        margin-top: 5px;
        display: flex;
        justify-content: center;
        width: 100%;
      }
    }

    .ulogin-buttons-container {
      display: flex !important;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding-left: 20px !important;

      @media screen and (max-width: 767px) {
        text-align: center;
        justify-content: center;
        padding-left: 0 !important;
      }
    }

    [class*='ulogin-button-'] {
      border-radius: 50% !important;
      zoom: .8;
    }

    .ulogin-button {

    }

    ul {
      margin: 0;
    }

    a {
      display: block;
      padding: 6px;
      text-align: center;
      width: 30px;
      height: 30px;
      background: #fff;
      border-radius: 50%;

      i {
        color: $button-color;
        font-size: 18px;
      }
    }
  }
}

.account-container + .empty-box {
  padding-left: 35px;
  padding-right: 35px;
}

.account-container:not(.checkout-container) {
  margin: 0 0 20px 0;
  padding: 20px 0 1px;
  // border: 1px solid $module-border-color;
  background: $module-background-color;
  font-family: $f-roboto;
  font-size: 14px;
  color: #666;

  .btn-primary {
    font-family: $f-roboto;
    font-weight: 900;
  }

  h1 {
    padding-left: 35px;
    padding-right: 35px;
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
    font-family: $f-open;
    text-transform: uppercase;

    &.reg-title {
      background: #f0f0f0;
      color: #353535;
      line-height: 65px;
      text-align: center;

      i {
        width: 36px;
        height: 36px;
        margin-right: 10px;
        border-width: 1px;
        border-style: solid;
        border-color: #353535;
        border-image: initial;
        border-radius: 50%;
      }
      span {
        @media (max-width: 576px) {
          font-size: 21px;
        }
      }
    }
  }

  &.forgotten {
    text-align: center;

    h1 {
      color: #fff;
      text-align: center;
      line-height: 65px;
      background: $button-color;
      @media (max-width: 480px) {
        line-height: 44px;
        font-size: 5vw;
      }

      i {
        width: 36px;
        height: 36px;
        border: 1px solid #fff;
        border-radius: 50%;
        margin-right: 10px;
        @media (max-width: 480px) {
          font-size: 20px;
          height: 24px;
          width: 24px;
          padding-top: 1px;
        }
      }
    }

    p {
      max-width: 50%;
      text-align: center;
      display: inline-block;
      @media (max-width: 767px) {
        max-width: 100%;
      }
    }

    legend {
      display: none;
    }

    label {
      font-size: 0;
      width: 42px;
      height: 33px;
      background: url(../image/neoseo_account/reg-mail.png) no-repeat center;
    }

    .form-group {
      display: flex;
      justify-content: center;
    }

    form {
      padding: 0 35px 35px;
    }
  }

  .btn {
    min-width: 100px;
    padding: 10px;
  }

  p {
    padding: 0 35px;

    &.reward-sum {
      b {
        font-weight: 700;
        color: $button-color;
      }
    }

    &:last-child {
      padding-bottom: 15px;
    }
  }

  .table {
    .description {
      white-space: pre-wrap;
    }
  }

  .ac-block {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    padding-bottom: 25px;
    border-bottom: 1px solid $module-border-color;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }

    .btn {
      padding-left: 10px;
      margin-right: 35px;
      margin-left: 35px;
      font-size: 14px;
      font-weight: 900;
      color: #666;
      background: #ebebeb;
      box-shadow: none;

      &:hover {
        box-shadow: none;
        background: #ccc;
      }
    }
  }

  ul {
    margin: 0;
    margin-top: 20px;
    padding: 5px 35px 25px;
    list-style: none;

    li {
      padding: 8px 0;
      font-size: 14px;
      font-weight: 300;
      color: #666;
    }

    .ac-option {
      display: inline-block;
      width: 175px;
      font-size: 14px;
      font-weight: 300;
      color: #333;

      @media screen and (max-width: 767px) {
        width: auto ;
        padding-right: 20px;
        font-weight: 500;
      }
    }

    a {
      display: block;
      margin: 10px auto 5px;
      color: $button-color;
    }
  }

  .table-responsive {
    font-size: 14px;

    thead {
      background: $button-color;
      font-size: 14px;
      font-family: $f-roboto;
      font-weight: 900;
      color: #fff;

      td {
        color: #fff;
      }
    }

    td {
      text-align: center !important;
      border: none;
      padding: 15px;
      font-size: 14px;
      font-family: $f-roboto;
      font-weight: 400;
      color: #333;

      &.bonus-0 {
        padding: 30px 35px 76px;
        font-size: 30px;
        line-height: 60px;
        font-weight: 300;
        color: #cacaca;
      }
    }
  }

  .row-results {
    margin: 0;
    padding: 15px 20px;
  }

  .buttons {
    margin: 0;

    a {
      position: relative;
      top: -5px;
    }
  }


  label {
    font-weight: 300;
  }

  .register {

  }

  .login-register {



    .politics {
      @media (max-width: 767px) {
        width: 60%;
        margin: 0 auto;
      }
    }

    .form-group {
      display: flex;
      justify-content: center;

      label {
        // font-size: 0;
      }

      .field-main {
        padding-left: 35px;
        @media screen and (max-width: 767px){
          width: 60%;
        }
      }

      .field-main label {
        position: absolute;
        height: 100%;
        width: 44px;
        left: 0;
        flex-grow: 0;
        font-size: 14px;
        background-repeat: no-repeat;
        background-position: left center;

        &:before {
          position: relative;
          left: -10px;
        }
      }

      &:nth-child(1) .field-main label {
        background-image: url(../image/neoseo_account/reg-user.png);
      }

      &:nth-child(2) .field-main label {
        background-image: url(../image/neoseo_account/reg-user.png);
      }

      &:nth-child(3) .field-main label {
        background-image: url(../image/neoseo_account/reg-phone.png);
      }

      &:nth-child(4) .field-main label {
        background-image: url(../image/neoseo_account/reg-mail.png);
      }

      &:nth-child(5) .field-main label {
        background-image: url(../image/neoseo_account/reg-key.png);
      }

      &:nth-child(6) .field-main {
        margin-bottom: 10px;

        input {
          // margin-left: 40px;
        }

        label {
          background-image: url(../image/neoseo_account/reg-key2.png);
        }
      }
    }
  }

  .checkbox label {
    font-size: 12px;
    font-weight: 300;

  }

  input {
    padding: 10px 0;
    max-width: 100%;
    border: none;
    border-bottom: 1px solid #c7c7c7;
    box-shadow: none !important;
    font-size: 14px;
    font-weight: 300;


    &[type="submit"] {
      padding: 10px;
    }
  }

  select {
    max-width: 300px;
  }

  ::-webkit-input-placeholder,
  ::-moz-placeholder,
  :-ms-input-placeholder,
  :-moz-placeholder {
    color: #999993;
  }


  .button-holder {
    text-align: center;
    padding-bottom: 40px;
  }

  .changepsw,
  .changeadr {
    padding: 0 35px 35px;

    .btn {
      top: 0;
    }

    legend {
      display: none;
    }
  }
}

.empty-title {
  margin-top: 9px;
}

.error-container {
  margin: 0 0 20px 0;
  padding: 5px 10px 40px 10px;
  border: 1px solid $module-border-color;
  background: $module-background-color;
}


$account-bg-color: #5e8ee4;
$account-bg-color-hover: #e61300;;
$account-font-color: #fff;


@media (max-width: 991px) {

  .account-icons .account-icon {
    justify-content: center;
    display: flex;
    margin: 5px 0;
  }

}

.account-icons {
  padding: 20px 35px;
  background: $module-background-color;
}

.account-icons-list {
  margin-bottom: 0px;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;

  a, h6 {
    margin: 0;
    font-family: $f-roboto;
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
}

.account-item {
  transition: 0.2s ease;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: $button-color;//$module-background-color;
  width: 114px;//151px;
  height: 84px;//120px;
  text-align: center;
  border: 1px solid $module-border-color;
  padding: 7px 20px;
  transition: all .5s;

  i {
    position: relative;
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    font-size: 20px;//52px;
    color: $button-color;

    &:before {
      position: relative;
      z-index: 1;
    }

    &:after {
      position: absolute;
      display: block;
      content: "";
      width: 36px;
      height: 36px;
      background: #fff;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 0;
    }
  }
  &:hover {
    // transition: 0.2s ease;
    // transform: scale(1.02);
    background: #fff;
    border-color: $button-color;

    h6 {
      color: $button-color;
    }

    i {
      color: #fff;

      &:after {
        background: $button-color;
      }
    }
  }
}


.border-status {
  font-size: 19px;
  border: 4px dotted #57d17a;
  padding: 5px;
  border-radius: 4px;
  transform: rotate(-5deg);
  position: absolute;
}

.order-list {
  padding: 6px 0;
  background: #f5f5f5;
  border: none;
  justify-content: flex-start;
  display: flex;

  .order-list-left, .order-list-right {
    padding: 0;
    height:40px;
    display: flex;
  }
  .order-list-print {
    border-left: 1px solid #ccc;
    i {
      font-size: 32px;
      top: -5px;
      position: relative;
    }
  }
  div {
    height: 40px;
    font-weight: 400;
    color: #444;
    font-size: 14px;
    span {
      display: inline-block;
      padding: 10px 0;

    }
    a {
      color: $order-list-link-color;
      &:hover {
        color: $order-list-link-color;
      }
    }
  }
  .order-list-number a{
    border-bottom: 1px dotted;
  }
  .order-list-total-prise {
    padding-left: 0;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {

  .order-list {
    .order-list-print {
      i {
        left: -6px;
      }
    }

  }
}

@media (max-width: 1199px) {
  .order-list {
    div {
      font-size: 13px;
    }
  }
}

.order-list-info {
  width: 190px;
}

.order-list-number, .order-list-info {
  i {
    color: $order-list-link-color;
    &:hover {
      color: $order-list-link-color;
    }
  }
}

.order-product-list {
  display: flex;
  padding: 0;
  &_left {
    border-top: 1px solid #ccc;
    padding: 10px 0;
  }
  &_right {
    border-left: 1px solid #ccc;
    padding: 10px 0;
  }
}

@media (max-width: 992px) {
  .order-product-list {
    &_left {
    }
    &_right {
      border-left: none;
    }
  }
}

.order-list-product {
  width: 380px;
  a {
    text-align: center;
  }
}

.order-list-done {
  color: #57d17a;
  font-weight: bold;
}

.order-list-right {
  border-left: 1px solid #ccc;
  .order-list-status {
    position: relative;
  }
}


.order-list-history {
  position: absolute;
  right: 14px;
  border: none;
}

.order-list-basket {
  display: flex;
  overflow: hidden;
  align-items: center;
  a {
    border-bottom: none !important;
  }


}


.product-list-info {
  padding: 0 8px;
  display: flex;
  border-bottom: 1px dotted #ccc;
  .product-list-caption,.button-group-cart, .product-list-buy {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
}

.producr-list-price {
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  p {
    font-weight: bold;
    padding-right: 32px;
  }
}

#button-coupon, #button-voucher, #button-reward {
  padding: 7px 20px 8px;
}

.product-grid {
  .price-container {
    width: 50%;
  }
}

.column-product {
  a {
    color: $title-color;
    font-weight: bold;
    &:hover {
      color: $title-color;
      text-decoration: underline;
    }
  }

}

.column-status {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.product-list-buy {
  justify-content: flex-end;
  .cart-add-button {
    padding: 10px 0;
  }
}

.product-caption-article {
  padding: 10px 0;
  font-weight: bold;
}


.panel-body {
  padding: 0;
}

#accordion-shipping-payment {
  margin-top: 10px;
}

.order-title {
  width: 30%;
}

@media (max-width: 1399px) {

}

@media (max-width: 991px) {
  .account-icons-list {
    flex-wrap: wrap;
  }

  .column-portable {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .product-list-buy, .product-list-image {
    margin: 0 auto;
    img {
      margin: 0 auto;
    }


  }

  .column-product {
    text-align: center;

  }

  .product-list-info {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 515px) {
  .account-icon {
    width: 24%;
    margin:0 1% 5px 0 !important;
    .account-item {
      width: 100%;
      height: 69px;
      h6 {
        display: none;
      }
      i {
        font-size: 24px;
      }
    }
  }

}

@media (max-width: 480px) {

  .login-btns {
    flex-direction: column;
    .block-flex-col {
      height: 65px;
    }
  }

  #uLogin {
    display: flex;
  }
  .login-title {
    h1 {
      font-size: 21px;
      margin: 0;
    }
  }
}

//11.01.18 YK
.radio-box {
  text-align: center;
  margin: 20px 0 10px;
}

//12.01.18 YK

.login-register {

  @media (max-width: 767px) {
    .subscribe-on-news, .agree {
      width: 60%;
    }
  }


}
