/*=== Обычные шрифты - begin ===*/
$fonts-folder: '../fonts/';
/*=== ОpenSans ===*/

@font-face{
  font-display: swap;
  font-family: 'OpenSans';
  src: url('../fonts/OpenSansRegular/OpenSans-Regular.ttf');
  font-weight: 400;
}

@font-face{
  font-display: swap;
  font-family: 'OpenSans';
  src: url('../fonts/OpenSansExtraBold/ExtraBold.ttf');
  font-weight: 800;
}

/*=== Roboto ===*/

@font-face{
  font-display: swap;
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face{
  font-display: swap;
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face{
  font-display: swap;
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-display: swap;
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face{
  font-display: swap;
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face{
  font-display: swap;
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Bold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face{
  font-display: swap;
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-BoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

/*=== Montserrat ===*/

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  src: url($fonts-folder + 'Montserrat/Montserrat-Light.eot');
  src: local('Montserrat Light'), local('Montserrat-Light'),
  url($fonts-folder + 'Montserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
  url($fonts-folder + 'Montserrat/Montserrat-Light.woff') format('woff'),
  url($fonts-folder + 'Montserrat/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  src: url($fonts-folder + 'Montserrat/Montserrat-MediumItalic.eot');
  src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'),
  url($fonts-folder + 'Montserrat/Montserrat-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url($fonts-folder + 'Montserrat/Montserrat-MediumItalic.woff') format('woff'),
  url($fonts-folder + 'Montserrat/Montserrat-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  src: url($fonts-folder + 'Montserrat/Montserrat-Thin.eot');
  src: local('Montserrat Thin'), local('Montserrat-Thin'),
  url($fonts-folder + 'Montserrat/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
  url($fonts-folder + 'Montserrat/Montserrat-Thin.woff') format('woff'),
  url($fonts-folder + 'Montserrat/Montserrat-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  src: url($fonts-folder + 'Montserrat/Montserrat-ExtraLightItalic.eot');
  src: local('Montserrat ExtraLight Italic'), local('Montserrat-ExtraLightItalic'),
  url($fonts-folder + 'Montserrat/Montserrat-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
  url($fonts-folder + 'Montserrat/Montserrat-ExtraLightItalic.woff') format('woff'),
  url($fonts-folder + 'Montserrat/Montserrat-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  src: url($fonts-folder + 'Montserrat/Montserrat-BoldItalic.eot');
  src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'),
  url($fonts-folder + 'Montserrat/Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url($fonts-folder + 'Montserrat/Montserrat-BoldItalic.woff') format('woff'),
  url($fonts-folder + 'Montserrat/Montserrat-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  src: url($fonts-folder + 'Montserrat/Montserrat-SemiBold.eot');
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
  url($fonts-folder + 'Montserrat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
  url($fonts-folder + 'Montserrat/Montserrat-SemiBold.woff') format('woff'),
  url($fonts-folder + 'Montserrat/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  src: url($fonts-folder + 'Montserrat/Montserrat-ExtraLight.eot');
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
  url($fonts-folder + 'Montserrat/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url($fonts-folder + 'Montserrat/Montserrat-ExtraLight.woff') format('woff'),
  url($fonts-folder + 'Montserrat/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  src: url($fonts-folder + 'Montserrat/Montserrat-ExtraBoldItalic.eot');
  src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'),
  url($fonts-folder + 'Montserrat/Montserrat-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
  url($fonts-folder + 'Montserrat/Montserrat-ExtraBoldItalic.woff') format('woff'),
  url($fonts-folder + 'Montserrat/Montserrat-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  src: url($fonts-folder + 'Montserrat/Montserrat-Italic.eot');
  src: local('Montserrat Italic'), local('Montserrat-Italic'),
  url($fonts-folder + 'Montserrat/Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
  url($fonts-folder + 'Montserrat/Montserrat-Italic.woff') format('woff'),
  url($fonts-folder + 'Montserrat/Montserrat-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  src: url($fonts-folder + 'Montserrat/Montserrat-Bold.eot');
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
  url($fonts-folder + 'Montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
  url($fonts-folder + 'Montserrat/Montserrat-Bold.woff') format('woff'),
  url($fonts-folder + 'Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  src: url($fonts-folder + 'Montserrat/Montserrat-LightItalic.eot');
  src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'),
  url($fonts-folder + 'Montserrat/Montserrat-LightItalic.eot?#iefix') format('embedded-opentype'),
  url($fonts-folder + 'Montserrat/Montserrat-LightItalic.woff') format('woff'),
  url($fonts-folder + 'Montserrat/Montserrat-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  src: url($fonts-folder + 'Montserrat/Montserrat-BlackItalic.eot');
  src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'),
  url($fonts-folder + 'Montserrat/Montserrat-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url($fonts-folder + 'Montserrat/Montserrat-BlackItalic.woff') format('woff'),
  url($fonts-folder + 'Montserrat/Montserrat-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  src: url($fonts-folder + 'Montserrat/Montserrat-SemiBoldItalic.eot');
  src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'),
  url($fonts-folder + 'Montserrat/Montserrat-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url($fonts-folder + 'Montserrat/Montserrat-SemiBoldItalic.woff') format('woff'),
  url($fonts-folder + 'Montserrat/Montserrat-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  src: url($fonts-folder + 'Montserrat/Montserrat-Regular.eot');
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
  url($fonts-folder + 'Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  url($fonts-folder + 'Montserrat/Montserrat-Regular.woff') format('woff'),
  url($fonts-folder + 'Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  src: url($fonts-folder + 'Montserrat/Montserrat-Medium.eot');
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
  url($fonts-folder + 'Montserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
  url($fonts-folder + 'Montserrat/Montserrat-Medium.woff') format('woff'),
  url($fonts-folder + 'Montserrat/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  src: url($fonts-folder + 'Montserrat/Montserrat-ExtraBold.eot');
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
  url($fonts-folder + 'Montserrat/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url($fonts-folder + 'Montserrat/Montserrat-ExtraBold.woff') format('woff'),
  url($fonts-folder + 'Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  src: url($fonts-folder + 'Montserrat/Montserrat-Black.eot');
  src: local('Montserrat Black'), local('Montserrat-Black'),
  url($fonts-folder + 'Montserrat/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
  url($fonts-folder + 'Montserrat/Montserrat-Black.woff') format('woff'),
  url($fonts-folder + 'Montserrat/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  src: url($fonts-folder + 'Montserrat/Montserrat-ThinItalic.eot');
  src: local('Montserrat Thin Italic'), local('Montserrat-ThinItalic'),
  url($fonts-folder + 'Montserrat/Montserrat-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url($fonts-folder + 'Montserrat/Montserrat-ThinItalic.woff') format('woff'),
  url($fonts-folder + 'Montserrat/Montserrat-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

/*=== Roboto Condensed ===*/

@font-face {
  font-display: swap;
  font-family: 'RobotoCondensed';
  src: url($fonts-folder + 'RobotoCondensed/RobotoCondensed-Regular.eot');
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
  url($fonts-folder + 'RobotoCondensed/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
  url($fonts-folder + 'RobotoCondensed/RobotoCondensed-Regular.woff') format('woff'),
  url($fonts-folder + 'RobotoCondensed/RobotoCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'RobotoCondensed';
  src: url($fonts-folder + 'RobotoCondensed/RobotoCondensed-BoldItalic.eot');
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'),
  url($fonts-folder + 'RobotoCondensed/RobotoCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url($fonts-folder + 'RobotoCondensed/RobotoCondensed-BoldItalic.woff') format('woff'),
  url($fonts-folder + 'RobotoCondensed/RobotoCondensed-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'RobotoCondensed';
  src: url($fonts-folder + 'RobotoCondensed/RobotoCondensed-Bold.eot');
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'),
  url($fonts-folder + 'RobotoCondensed/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
  url($fonts-folder + 'RobotoCondensed/RobotoCondensed-Bold.woff') format('woff'),
  url($fonts-folder + 'RobotoCondensed/RobotoCondensed-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'RobotoCondensed';
  src: url($fonts-folder + 'RobotoCondensed/RobotoCondensed-LightItalic.eot');
  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'),
  url($fonts-folder + 'RobotoCondensed/RobotoCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
  url($fonts-folder + 'RobotoCondensed/RobotoCondensed-LightItalic.woff') format('woff'),
  url($fonts-folder + 'RobotoCondensed/RobotoCondensed-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'RobotoCondensed';
  src: url($fonts-folder + 'RobotoCondensed/RobotoCondensed-Italic.eot');
  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'),
  url($fonts-folder + 'RobotoCondensed/RobotoCondensed-Italic.eot?#iefix') format('embedded-opentype'),
  url($fonts-folder + 'RobotoCondensed/RobotoCondensed-Italic.woff') format('woff'),
  url($fonts-folder + 'RobotoCondensed/RobotoCondensed-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'RobotoCondensed';
  src: url($fonts-folder + 'RobotoCondensed/RobotoCondensed-Light.eot');
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'),
  url($fonts-folder + 'RobotoCondensed/RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'),
  url($fonts-folder + 'RobotoCondensed/RobotoCondensed-Light.woff') format('woff'),
  url($fonts-folder + 'RobotoCondensed/RobotoCondensed-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/*=== Source Sans Pro ===*/


@font-face {
  font-display: swap;
  font-family: 'SourceSansPro';
  src: url( $fonts-folder + 'SourceSansPro/SourceSansPro-BlackItalic.eot');
  src: local('Source Sans Pro Black Italic'), local('SourceSansPro-BlackItalic'),
  url( $fonts-folder + 'SourceSansPro/SourceSansPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url( $fonts-folder + 'SourceSansPro/SourceSansPro-BlackItalic.woff') format('woff'),
  url( $fonts-folder + 'SourceSansPro/SourceSansPro-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'SourceSansPro';
  src: url( $fonts-folder + 'SourceSansPro/SourceSansPro-BoldItalic.eot');
  src: local('Source Sans Pro Bold Italic'), local('SourceSansPro-BoldItalic'),
  url( $fonts-folder + 'SourceSansPro/SourceSansPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url( $fonts-folder + 'SourceSansPro/SourceSansPro-BoldItalic.woff') format('woff'),
  url( $fonts-folder + 'SourceSansPro/SourceSansPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'SourceSansPro';
  src: url( $fonts-folder + 'SourceSansPro/SourceSansPro-Regular.eot');
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
  url( $fonts-folder + 'SourceSansPro/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
  url( $fonts-folder + 'SourceSansPro/SourceSansPro-Regular.woff') format('woff'),
  url( $fonts-folder + 'SourceSansPro/SourceSansPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'SourceSansPro';
  src: url( $fonts-folder + 'SourceSansPro/SourceSansPro-SemiBoldItalic.eot');
  src: local('Source Sans Pro SemiBold Italic'), local('SourceSansPro-SemiBoldItalic'),
  url( $fonts-folder + 'SourceSansPro/SourceSansPro-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url( $fonts-folder + 'SourceSansPro/SourceSansPro-SemiBoldItalic.woff') format('woff'),
  url( $fonts-folder + 'SourceSansPro/SourceSansPro-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'SourceSansPro';
  src: url( $fonts-folder + 'SourceSansPro/SourceSansPro-LightItalic.eot');
  src: local('Source Sans Pro Light Italic'), local('SourceSansPro-LightItalic'),
  url( $fonts-folder + 'SourceSansPro/SourceSansPro-LightItalic.eot?#iefix') format('embedded-opentype'),
  url( $fonts-folder + 'SourceSansPro/SourceSansPro-LightItalic.woff') format('woff'),
  url( $fonts-folder + 'SourceSansPro/SourceSansPro-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'SourceSansPro';
  src: url( $fonts-folder + 'SourceSansPro/SourceSansPro-Italic.eot');
  src: local('Source Sans Pro Italic'), local('SourceSansPro-Italic'),
  url( $fonts-folder + 'SourceSansPro/SourceSansPro-Italic.eot?#iefix') format('embedded-opentype'),
  url( $fonts-folder + 'SourceSansPro/SourceSansPro-Italic.woff') format('woff'),
  url( $fonts-folder + 'SourceSansPro/SourceSansPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'SourceSansPro';
  src: url( $fonts-folder + 'SourceSansPro/SourceSansPro-ExtraLightItalic.eot');
  src: local('Source Sans Pro ExtraLight Italic'), local('SourceSansPro-ExtraLightItalic'),
  url( $fonts-folder + 'SourceSansPro/SourceSansPro-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
  url( $fonts-folder + 'SourceSansPro/SourceSansPro-ExtraLightItalic.woff') format('woff'),
  url( $fonts-folder + 'SourceSansPro/SourceSansPro-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'SourceSansPro';
  src: url( $fonts-folder + 'SourceSansPro/SourceSansPro-ExtraLight.eot');
  src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'),
  url( $fonts-folder + 'SourceSansPro/SourceSansPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url( $fonts-folder + 'SourceSansPro/SourceSansPro-ExtraLight.woff') format('woff'),
  url( $fonts-folder + 'SourceSansPro/SourceSansPro-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'SourceSansPro';
  src: url( $fonts-folder + 'SourceSansPro/SourceSansPro-Light.eot');
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'),
  url( $fonts-folder + 'SourceSansPro/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
  url( $fonts-folder + 'SourceSansPro/SourceSansPro-Light.woff') format('woff'),
  url( $fonts-folder + 'SourceSansPro/SourceSansPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'SourceSansPro';
  src: url( $fonts-folder + 'SourceSansPro/SourceSansPro-Black.eot');
  src: local('Source Sans Pro Black'), local('SourceSansPro-Black'),
  url( $fonts-folder + 'SourceSansPro/SourceSansPro-Black.eot?#iefix') format('embedded-opentype'),
  url( $fonts-folder + 'SourceSansPro/SourceSansPro-Black.woff') format('woff'),
  url( $fonts-folder + 'SourceSansPro/SourceSansPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'SourceSansPro';
  src: url( $fonts-folder + 'SourceSansPro/SourceSansPro-Bold.eot');
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
  url( $fonts-folder + 'SourceSansPro/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
  url( $fonts-folder + 'SourceSansPro/SourceSansPro-Bold.woff') format('woff'),
  url( $fonts-folder + 'SourceSansPro/SourceSansPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'SourceSansPro';
  src: url( $fonts-folder + 'SourceSansPro/SourceSansPro-SemiBold.eot');
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'),
  url( $fonts-folder + 'SourceSansPro/SourceSansPro-SemiBold.eot?#iefix') format('embedded-opentype'),
  url( $fonts-folder + 'SourceSansPro/SourceSansPro-SemiBold.woff') format('woff'),
  url( $fonts-folder + 'SourceSansPro/SourceSansPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/*=== Oswald ===*/


@font-face {
  font-display: swap;
  font-family: 'Oswald';
  src: url( $fonts-folder + 'Oswald/Oswald-SemiBold.eot');
  src: local('Oswald SemiBold'), local('Oswald-SemiBold'),
  url( $fonts-folder + 'Oswald/Oswald-SemiBold.eot?#iefix') format('embedded-opentype'),
  url( $fonts-folder + 'Oswald/Oswald-SemiBold.woff') format('woff'),
  url( $fonts-folder + 'Oswald/Oswald-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Oswald';
  src: url( $fonts-folder + 'Oswald/Oswald-ExtraLight.eot');
  src: local('Oswald ExtraLight'), local('Oswald-ExtraLight'),
  url( $fonts-folder + 'Oswald/Oswald-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url( $fonts-folder + 'Oswald/Oswald-ExtraLight.woff') format('woff'),
  url( $fonts-folder + 'Oswald/Oswald-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Oswald';
  src: url( $fonts-folder + 'Oswald/Oswald-Light.eot');
  src: local('Oswald Light'), local('Oswald-Light'),
  url( $fonts-folder + 'Oswald/Oswald-Light.eot?#iefix') format('embedded-opentype'),
  url( $fonts-folder + 'Oswald/Oswald-Light.woff') format('woff'),
  url( $fonts-folder + 'Oswald/Oswald-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Oswald';
  src: url( $fonts-folder + 'Oswald/Oswald-Bold.eot');
  src: local('Oswald Bold'), local('Oswald-Bold'),
  url( $fonts-folder + 'Oswald/Oswald-Bold.eot?#iefix') format('embedded-opentype'),
  url( $fonts-folder + 'Oswald/Oswald-Bold.woff') format('woff'),
  url( $fonts-folder + 'Oswald/Oswald-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Oswald';
  src: url( $fonts-folder + 'Oswald/Oswald-Regular.eot');
  src: local('Oswald Regular'), local('Oswald-Regular'),
  url( $fonts-folder + 'Oswald/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
  url( $fonts-folder + 'Oswald/Oswald-Regular.woff') format('woff'),
  url( $fonts-folder + 'Oswald/Oswald-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Oswald';
  src: url( $fonts-folder + 'Oswald/Oswald-Medium.eot');
  src: local('Oswald Medium'), local('Oswald-Medium'),
  url( $fonts-folder + 'Oswald/Oswald-Medium.eot?#iefix') format('embedded-opentype'),
  url( $fonts-folder + 'Oswald/Oswald-Medium.woff') format('woff'),
  url( $fonts-folder + 'Oswald/Oswald-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/*=== Merriweather ===*/


@font-face {
  font-display: swap;
  font-family: 'Merriweather';
  src:  url($fonts-folder + 'Merriweather/Merriweather-BoldItalic.eot');
  src: local('Merriweather Bold Italic'), local('Merriweather-BoldItalic'),
   url($fonts-folder + 'Merriweather/Merriweather-BoldItalic.eot?#iefix') format('embedded-opentype'),
   url($fonts-folder + 'Merriweather/Merriweather-BoldItalic.woff') format('woff'),
   url($fonts-folder + 'Merriweather/Merriweather-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'Merriweather';
  src:  url($fonts-folder + 'Merriweather/Merriweather-Italic.eot');
  src: local('Merriweather Italic'), local('Merriweather-Italic'),
   url($fonts-folder + 'Merriweather/Merriweather-Italic.eot?#iefix') format('embedded-opentype'),
   url($fonts-folder + 'Merriweather/Merriweather-Italic.woff') format('woff'),
   url($fonts-folder + 'Merriweather/Merriweather-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'Merriweather';
  src:  url($fonts-folder + 'Merriweather/Merriweather-Regular.eot');
  src: local('Merriweather Regular'), local('Merriweather-Regular'),
   url($fonts-folder + 'Merriweather/Merriweather-Regular.eot?#iefix') format('embedded-opentype'),
   url($fonts-folder + 'Merriweather/Merriweather-Regular.woff') format('woff'),
   url($fonts-folder + 'Merriweather/Merriweather-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Merriweather';
  src:  url($fonts-folder + 'Merriweather/Merriweather-BlackItalic.eot');
  src: local('Merriweather Black Italic'), local('Merriweather-BlackItalic'),
   url($fonts-folder + 'Merriweather/Merriweather-BlackItalic.eot?#iefix') format('embedded-opentype'),
   url($fonts-folder + 'Merriweather/Merriweather-BlackItalic.woff') format('woff'),
   url($fonts-folder + 'Merriweather/Merriweather-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'Merriweather';
  src:  url($fonts-folder + 'Merriweather/Merriweather-Bold.eot');
  src: local('Merriweather Bold'), local('Merriweather-Bold'),
  url($fonts-folder + 'Merriweather/Merriweather-Bold.eot?#iefix') format('embedded-opentype'),
  url($fonts-folder + 'Merriweather/Merriweather-Bold.woff') format('woff'),
  url($fonts-folder + 'Merriweather/Merriweather-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Merriweather';
  src: url($fonts-folder + 'Merriweather/Merriweather-Light.eot');
  src: local('Merriweather Light'), local('Merriweather-Light'),
  url($fonts-folder + 'Merriweather/Merriweather-Light.eot?#iefix') format('embedded-opentype'),
  url($fonts-folder + 'Merriweather/Merriweather-Light.woff') format('woff'),
  url($fonts-folder + 'Merriweather/Merriweather-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Merriweather';
  src: url($fonts-folder + 'Merriweather/Merriweather-Black.eot');
  src: local('Merriweather Black'), local('Merriweather-Black'),
  url($fonts-folder + 'Merriweather/Merriweather-Black.eot?#iefix') format('embedded-opentype'),
  url($fonts-folder + 'Merriweather/Merriweather-Black.woff') format('woff'),
  url($fonts-folder + 'Merriweather/Merriweather-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Merriweather';
  src: url($fonts-folder + 'Merriweather/Merriweather-LightItalic.eot');
  src: local('Merriweather Light Italic'), local('Merriweather-LightItalic'),
  url($fonts-folder + 'Merriweather/Merriweather-LightItalic.eot?#iefix') format('embedded-opentype'),
  url($fonts-folder + 'Merriweather/Merriweather-LightItalic.woff') format('woff'),
  url($fonts-folder + 'Merriweather/Merriweather-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

/*=== Yanone ===*/

@font-face {
  font-display: swap;
  font-family: 'Yanone';
  src: url($fonts-folder + 'YanoneKaffeesatz/YanoneKaffeesatz-Thin.eot');
  src: local('Yanone Kaffeesatz-Thin'), local('YanoneKaffeesatz-Thin'),
  url($fonts-folder + 'YanoneKaffeesatz/YanoneKaffeesatz-Thin.eot?#iefix') format('embedded-opentype'),
  url($fonts-folder + 'YanoneKaffeesatz/YanoneKaffeesatz-Thin.woff') format('woff'),
  url($fonts-folder + 'YanoneKaffeesatz/YanoneKaffeesatz-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Yanone';
  src: url($fonts-folder + 'YanoneKaffeesatz/YanoneKaffeesatz-Light.eot');
  src: local('Yanone Kaffeesatz-Light'), local('YanoneKaffeesatz-Light'),
  url($fonts-folder + 'YanoneKaffeesatz/YanoneKaffeesatz-Light.eot?#iefix') format('embedded-opentype'),
  url($fonts-folder + 'YanoneKaffeesatz/YanoneKaffeesatz-Light.woff') format('woff'),
  url($fonts-folder + 'YanoneKaffeesatz/YanoneKaffeesatz-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Yanone';
  src: url($fonts-folder + 'YanoneKaffeesatz/YanoneKaffeesatz-Regular.eot');
  src: local('Yanone Kaffeesatz-Regular'), local('YanoneKaffeesatz-Regular'),
  url($fonts-folder + 'YanoneKaffeesatz/YanoneKaffeesatz-Regular.eot?#iefix') format('embedded-opentype'),
  url($fonts-folder + 'YanoneKaffeesatz/YanoneKaffeesatz-Regular.woff') format('woff'),
  url($fonts-folder + 'YanoneKaffeesatz/YanoneKaffeesatz-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Yanone';
  src: url($fonts-folder + 'YanoneKaffeesatz/YanoneKaffeesatz-Bold.eot');
  src: local('Yanone Kaffeesatz-Bold'), local('YanoneKaffeesatz-Bold'),
  url($fonts-folder + 'YanoneKaffeesatz/YanoneKaffeesatz-Bold.eot?#iefix') format('embedded-opentype'),
  url($fonts-folder + 'YanoneKaffeesatz/YanoneKaffeesatz-Bold.woff') format('woff'),
  url($fonts-folder + 'YanoneKaffeesatz/YanoneKaffeesatz-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/*=== Обычные шрифты - end ===*/

@font-face {
  font-display: swap;
  font-family: 'ns-icons';
  src: url('../fonts/nsicons/nsicons.eot');
  src: url('../fonts/nsicons/nsicons.svg');
  src: url('../fonts/nsicons/nsicons.ttf');
  src: url('../fonts/nsicons/nsicons.woff');
}

@font-face {
  font-display: swap;
  font-family: 'ns-icons';
  src: url('../fonts/nsicons/nsicons2.eot');
  src: url('../fonts/nsicons/nsicons2.svg');
  src: url('../fonts/nsicons/nsicons2.ttf');
  src: url('../fonts/nsicons/nsicons2.woff');
}

@font-face {
  font-display: swap;
  font-family: 'ns-icons';
  src: url('../fonts/nsicons/shopping-bag.eot');
  src: url('../fonts/nsicons/shopping-bag.svg');
  src: url('../fonts/nsicons/shopping-bag.ttf');
  src: url('../fonts/nsicons/shopping-bag.woff');
}

@font-face {
  font-display: swap;
  font-family: 'ns-star';
  src: url('../fonts/star/star.eot');
  src: url('../fonts/star/star.svg');
  src: url('../fonts/star/star.ttf');
  src: url('../fonts/star/star.woff');
}

[class^="ns-"], [class*=" ns-"] {
  font-size: 16px;
  font-family: 'ns-icons';
  speak: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="fa-star"], [class*="fa-star"] {
  font-size: 16px;
  font-family: 'ns-star';
  speak: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="fa-star-o"], [class*="fa-star-o"] {
  font-size: 16px;
  font-family: 'ns-star';
  speak: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ns-arrow-right:before {
  font-weight: bold;
  content: "\e900";
}

.ns-mouse:before {
  content: "\e901";
}


.ns-kyivstar:before {
  font-weight: bold;
  content: "\e902";
  color: #126dff;
}

.ns-lifecell:before {
  font-weight: bold;
  content: "\e903";
  color: #ffd600;
}

.ns-vodafone:before {
  font-weight: bold;
  content: "\e904";
  color: #eb2d21;
}

.ns-cityphone:before {
  font-weight: bold;
  content: "\e905";
  color: #3c3c3c;
}

.ns-headphones:before {
  font-weight: bold;
  content: "\e906";
}

.ns-shopping-bag:before {
  content: "\e907";
}

.ns-cart:before {
  content: "\e909";
}

.ns-headphones-o:before  {
  content: "\e910";
}

.ns-clone:before  {
  content: "\e911";
}

.ns-clock-o:before  {
  content: "\e912";
}

.fa-star-o:before {
  font-weight: bold;
  content: "\e907";
}

.fa-star:before {
  font-weight: bold;
  content: "\e908";
}

///////////////////////////////////////////////

$type: flat; //  flat , gradient , 3d  //  -> style
// VARS
// Start variables SET

// Параметры
// colors
$body-font: Roboto;
$body-color: #474849;         // main body color
$body-background-color: #f6f6f6; // main body bg-color
$main-shadow-background-color: #e0928d; // Shadow BG-color
$added-background-color: #c46662;      // Added BGColor
$added-shadow-background-color: #5080a6; // Added Shadow BGColor
$header-color: #444;        // H1-H6 color
$a-color: #1d1d1d;      // link colors
$a-hover-color: #57d6e9;
$required-color: #c00;  // required *  color
$checkbox-color: #4484f4;  // checkbox/radio color
$gradient-bottom-color:#ccc; //  color
$outside-text-color: #07f072;
$product_thumb_icon_color:#c92161;
$background_image: '';
$top-personal-area: #ececec;

/*-- Module settings START --*/

// Заголовок модуля
$module-title-color: #1d1d1d;

// Фон модуля
$module-background-color: #ffffff;

// Цвет border'а модуля
$module-border-color: #eeeeee;

// Цвет border'а модуля при наведении
$module-border-color-hover: #1d1d1d;

// Прозрачность фона модуля
$module-background-opacity: 0.95;

//Цвет заголовков ( h1-h6, служебная информация и т.д. )
$title-color: #1d1d1d;

//Цвет текста ( применяется ко всему тексту )
$text-color: rgba(8,0,0,1);

//Цвет кнопок ( кнопка купить, кнопка поиска )
$button-color: #1d1d1d;
//Цвет кнопок при наведении ( кнопка купить, кнопка поиска )
$button-color-hover: #6ba91b;
//Цвет текста кнопки ( кнопка купить, кнопка поиска )
$button-color-text: #ffffff;
//Цвет текста кнопки при наведении ( кнопка купить, кнопка поиска )
$button-color-text-hover: #ffffff;

//Цвет кнопоки карточки товара ( кнопка купить, кнопка поиска )
$product_button_color: #111;
//Цвет кнопоки карточки товара при наведении ( кнопка купить, кнопка поиска )
$product_button_color_hover: #333;
//Цвет текста кнопки карточки товара  ( кнопка купить, кнопка поиска )
$product_button_color_text: #ffffff;
//Цвет текста кнопки карточки товара при наведении ( кнопка купить, кнопка поиска )
$product_button_color_text_hover: #ffffff;

//Цвет кнопок превью ( кнопка купить, кнопка поиска )
$preview_button_color: #fd0028;
//Цвет кнопок превью при наведении ( кнопка купить, кнопка поиска )
$preview_button_color_hover: #fff;
//Цвет текста кнопок превью ( кнопка купить, кнопка поиска )
$preview_button_color_text: #ffffff;
//Цвет текста кнопок превью при наведении ( кнопка купить, кнопка поиска )
$preview_button_color_text_hover: #fd0028;

/*-- Module settings END --*/

/*--------- Product Tabs ----------*/


//Цвет таба
$tab-color: #ffffff;

//Цвет текста таба
$tab-text-color: #1d1d1d;

// Цвет активного таба
$tab-color-active: #6ba91b;

//Цвет текста активного таба
$tab-text-color-active: #ffffff;

// Цвет неактивного таба при наведении
$tab-color-hover: #1d1d1d;

// Цвет текста неактивного таба при наведении
$tab-text-color-hover: #ffffff;

/*--------------------------------*/
//icons
$sticky-icon-color: #6ba91b;
$header-icon-color: #ffffff;
// fonts

$body-font-size: 14px;      // main Body - fontSize
$h1-font-size: 32px;        // H! font-size
$h2-font-size: 27px;
$h3-font-size: 21px;
$h4-font-size: 18px;
$h5-font-size: 16px;
$h6-font-size: 15px;
$input-text-font-size: 13px;// input, select, textarea font-size

// Шапка
// верхний баннер
$top_banner_height: 115px;
$top-banner-color: #ffffff;
// header
$top-header-height: 135px;
$top-header-text-color: #000;

// верхнее меню
$top-menu-background-color: #1d1d1d;    // Top BGColor
$top-menu-border-color: #ffffff;       // Top Border-Bottom-Color
$top-menu-height: 48px;
$top-menu-color: #ffffff;
$top-menu-hover-color: #6ba91b;
$top-menu-font-size: 14px;

$top-menu-account-bg: #6ba91b;
$top-menu-account-color: #ffffff;

//ВАЛЮТА
$currency-background: #1d1d1d;// фон валюты +

$currency-hover-background: #6ba91b;// фон валюты при наведении -

$currency-color: #6ba91b; //цвет валюты +

$currency-hover-color: #ffffff; //цвет валюты при наведении -

$currency-active-color: #ffffff; //цвет активной валюты +

$currency-active-background: #6ba91b; //фон активной валюты -

$currency-active-hover-background: #ffffff; //фон активной валюты при наведении -

$currency-active-hover-color: #ffffff; //цвет активной валюты при наведении -

$language-active-background: #1d1d1d;

$header_background_color: #ffffff;
$header_background_image: '';

//Липкое меню sticky_box
$stiky-box-height: 60px;
$sticky-box-font-color: #ffffff;
$sticky_menu_background: #ffffff;
$sticky_menu_image: '';
$sticky_phones_color: #000000;
$sticky_cart_total_color: #6ba91b;

// основное меню
$menu_height: 50px;      // MENU Height
$main-background-color: #6ba91b;       // Main BG-color
$menu_border_color: #6ba91b;// MENU Border Color
$menu-nav-color: #ffffff;        //  MenuNav Color
$menu_border_link_color: #6ba91b;
$menu-nav-background-hover-color: #6ba91b; // Цвет фона главного меню при наведении +
$menu-nav-hover-color: #ffffff; //  Цвет текста главного меню при наведении +

$header_phones_color: #000000;
$header_worktime_color: #333333;
$header_cart_total_color: #333333;

//Подменю
$menu-sub-background-color: #ffffff; // Цвет фона подменю +
$menu-sub-nav-color: #1d1d1d; // Цвет текста подменю -
$menu-sub-background-hover-color: #6ba91b; // Цвет фона подменю при наведении -
$menu-sub-nav-hover-color: #ffffff; // Цвет текста подменю при наведении -


$menu-main-font-family: 'Open Sans',Helvetica,sans-serif;
$menu-sub-font-family: 'Open Sans',Helvetica,sans-serif;
$menu-main-font-size: 14px;
$menu-sub-font-size: 14px;
$menu-main-icon-height: 34px;
$menu-sub-icon-height: 15px;

//Мобильный вид шапки
$mobile-header-bg-color: #333333;
$mobile-header-icon-color: #ffffff;
$mobile-header-total-color: #ffffff;
$mobile-header-menu-currency-color: #333333;
$mobile-header-menu-currency-active-color: #333333;
$mobile-header-menu-text-color: #333333;
$mobile-header-menu-icon-color: #333333;
$mobile-header-menu-total-color: #333333;

// content color
$content-fonts-color: #fff;

// хлебные крошки
$breadcrumbs-font-size: 13px; // BreadCrumbs FSz
$breadcrumbs-font-style: normal;

// Left Vertical Menu
$left-menu-root-font-size: 15px; // main li fsize
$left-menu-background-color:#f0f0f0;
$left-menu-links-color:#444;
$left-menu-links-hover-color:#629e2c;

// Tab & Stars & Order
$tab-background-color:#4484f4; // Tab & Stars & Order BTNs BGcolor
$tab-border-color:#2968d7;     // Tab Border-color

// Mini banners Rights
$mini-baners-number: 2;    // Cols min Banners (2 or 3)

// Grid-List View
$product-border-color: #eceeef; // цвет рамки в grid/list
$product-grid-title: 16px; // .product-grid h4 - fontsize
$product-title-font-weight: 400;
$product-grid-title-text-align: center;
$product-list-title: 18px;
$product-list-description-size: 13px;   // List description size
$product-list-image-width: 200px; // product-list .image Width !

// OCFilter Vall SET
$ocfilter-start-opacity: 0.25;      // OCF Start Opacity
$ocfilter-label-font-size: 13px;     // OCF Label Font Size
$ocfilter-optname-font-size: 14px;   // OCF OptionName FSz
$ocfilter-optname-color: #404040;    // OCF OptionName Color
$ocfilter-select-options-color: #777;// Selected Options Color
$ocfilter-head-color: #444;          // OCF H3 options
$ocfilter-head-font-size: 21px;      //

// BLOG  - variables Set
$read-more-color: #5e8ee4;        //  .read-more Color
$read-more-hover-color: red; // .read-more:hover Color
$entry-meta-font-size: 13px;     // .entry-meta <a> font size
$entry-meta-a-color: #6B6B6B;    // .entry-meta a color
$entry-meta-fa-font-size: 14px;  // .entry-meta .fa font size
$comments-background-color: #fff;// .comment-body backgr color
$comment-author-font-size: 13px; // .comment-author font size
$comment-date-font-size: 12px;   // .comment-date font size
$comment-reply-color: #5e8ee4;     //  comment link - ответить

// SEARCH-MAiN Vall SET
$search-item-price-font-size: 12px;
$search-item-price-color: #feb701;  // Search Autocompl Price color
$search-item-description: 12px;
$search-footer-color: #222;             // SEARCH Footer Color
$search-footer-background: transparent; // SEARCH Footer BGD
$search-header: none;  // Display Search Header in Autocomplete

// Product Labels
$product-label-font-size: 14px;
$product-label-font-weight: 600;
$product-title-height: 32px;
$product-thumb-icon-color: #6ba91b;
// Prices
$product-title-color: #0c0c0c;
$price-color: #444;       // PriceColor
$price-new-color: #444;   // PriceNewColor
$price-old-color: #999;   // PriceOLDColor
$price-tax-color: #999;   // PriceTAXColor

// Подвал
// верхняя и средняя части
$footer-main-color: #ffffff;           // Footer Aczent Color
$footer-background-color: #222222;         // Footer BG-Color
$footer-font-size-default: 14px;         // Footer Font Size Default
$footer-links-color: #333;             // Footer links-Color
$footer-links-hover-color: #ffffff;        // Footer links:hover color
$footer-links-hover-color: #ffffff;
// нижняя часть
$footer-bottom-color: #ffffff;            // Footer Bottom Color
$footer-bottom-background-color: #222222;//Footer Bottom BG-Color
$footer-bottom-links-color: #25c;        // Footer Bottom Links Color
$footer-bottom-links-hover-color: #6ba91b;// Footer Bottom a:hover Color
//Личный кабинет
$order-list-color: #444;
$order-list-link-color: #5e8ee4;

//Кнопка вверх
$go-top-background: #1d1d1d;
$go-top-color: #ffffff;
$go-top-background-hover: #6ba91b;
$go-top-color-hover: #ffffff;

//Пагинация
$pagination-background: #ffffff;
$pagination-background-hover: #1d1d1d;
$pagination-color: #1d1d1d;
$pagination-color-hover: #ffffff;
$pagination-background-active: #6ba91b;
$pagination-color-active: #1d1d1d;

