<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" name="viewport" />
<title></title>
<style type="text/css">
  a:hover {text-decoration: underline !important;}
</style>
<!-- <div class=""></div> -->

<table class="wrapper" border="0" cellspacing="0" cellpadding="0" style="width: 100%; max-width: 700px; margin: 0 auto;">
  <tr>
    <td>
      <table  class="header" border="0" cellspacing="0" cellpadding="0" style="width: 100%;border-collapse: collapse;  font-family: 'OpenSans','Helvetica Neue', Helvetica, Arial, sans-serif;font-size:12px;line-height:16px; font-weight: bold; color:#ffffff;background:#ee532a;margin-bottom:0px;">
        <tr  style="">
          <td style=" padding: 17px 35px; text-align: center;">
            <a href="#" style="color: #ffffff; text-decoration: none; text-transform: uppercase; white-space: nowrap;">О нас</a>
          </td>
          <td style="color: #ffffff; text-decoration: none; padding: 17px 35px; text-align: center;">
            <a href="#" style="color: #ffffff; text-decoration: none; text-transform: uppercase; white-space: nowrap;">Политика</a>
          </td>
          <td style="color: #ffffff; text-decoration: none; padding: 17px 35px; text-align: center;">
            <a href="#" style="color: #ffffff; text-decoration: none; text-transform: uppercase; white-space: nowrap;">Акции</a>
          </td>
          <td style="color: #ffffff; text-decoration: none; padding: 17px 35px; text-align: center;">
            <a href="#" style="color: #ffffff; text-decoration: none; text-transform: uppercase; white-space: nowrap;">Информация</a>
          </td>
          <td style="color: #ffffff; text-decoration: none; padding: 17px 35px; text-align: center;">
            <a href="#" style="color: #ffffff; text-decoration: none; text-transform: uppercase; white-space: nowrap;">Контакты</a>
          </td>
        </tr>
      </table>
      
      <table  class="contacts" border="0" cellspacing="0" cellpadding="0" style="width: 100%;border-collapse: collapse;  font-family: 'OpenSans','Helvetica Neue', Helvetica, Arial, sans-serif;font-size:12px; line-height:16px; font-weight: bold; color:#000;background:#ffffff;margin-bottom:0px;">
        <tr>
          <td style="padding: 25px 5px; padding-left: 45px; text-align: left;"><img src="logo.png" alt="logo"></td>
          <td style="padding: 25px 5px; padding-left: 45px; text-align: left;">
            <div><img src="icon-ks.png" alt=""><a href="+74564783403" style="padding-left: 10px; text-decoration: none; color: #000; font-size: 14px; line-height: 30px;">+7(456) 478-34-03</a></div>
            <div><img src="icon-mts.png" alt=""><a href="+74564783403" style="padding-left: 10px; text-decoration: none; color: #000; font-size: 14px; line-height: 30px;">+7(456) 478-34-03</a></div>
          </td>
          <td style="padding: 25px 0px; padding-right: 10px; text-align: right;">
            <img src="icon-watch.png" alt="">
          </td>
          <td style="padding: 25px 5px; padding-left: 0px; text-align: left;">
            <div>Пн-Пт:<span style="font-weight: normal;">с 9.00 - 19.00</span></div>
            <div>Сб:<span style="font-weight: normal;">с 9.00 - 15.00</span></div>
          </td>
        </tr>
      </table>
      
      <table border="0" cellspacing="0" cellpadding="0" style="width: 100%;border: 30px solid #f6f6f6; border-left: 25px solid #f6f6f6; border-right: 35px solid #f6f6f6;">
        <tr>
          <td>
            <table class="emailMain" border="0" cellspacing="0" cellpadding="0" style="border-bottom: 1px solid #dedede; width: 100%;border-collapse: collapse;  font-family: 'OpenSans','Helvetica Neue', Helvetica, Arial, sans-serif; font-size:12px; line-height: 36px; ">
              <tr>
                <td class="title" style="padding: 45px 35px 25px;font-size: 30px; font-weight: 900; text-align: center; text-transform: uppercase;">Ваш заказ получен</td>
              </tr>
              <tr>
                <td style="padding: 10px 35px 40px; text-align: left;">
                  <div style=" font-size: 18px; font-weight: 700;">Ваш заказ {order_id}</div>
                  <div style=" font-size: 14px; font-weight: 300; color: #666; padding-bottom: 10px;">Администратор магазина скоро свяжется с Вами.</div>
                  <a href="#" style="display: inline-block; block; padding: 0 20px; font-size: 14px; line-height: 40px; font-weight: normal; color: #ffffff; text-decoration: none; background: #ee532a; border-radius: 3px;">Перейти в заказ</a>
                </td>
              </tr>
            </table>
            
            
             <table class="order" style="width: 100%; border-collapse: collapse; border-left: 35px solid #ffffff; border-right: 35px solid #ffffff;  font-family: 'OpenSans','Helvetica Neue', Helvetica, Arial, sans-serif; font-size:12px; text-align: left; line-height: 18px; ">
               <tr>
                 <td colspan="3" style="padding: 20px 0 10px; font-size: 14px; font-weight: bold; line-height: 36px;">Вы заказали:</td>
               </tr>
            
               <tr style="border-bottom: 1px dashed #dedede; color: #666; line-height: 18px;">
                 <td style="vertical-align: top; width: 50%; font-weight: 100; padding: 18px 0px 14px;"><a href="#" style=" color: #666;  text-decoration: none;">{product_name}</a></td>
                 <td style="vertical-align: top; padding: 18px 10px 14px;">{product_quantity}</td>
                 <td style="vertical-align: top; width: 30%; color: #333; font-size: 14px; text-align: right; padding: 18px 0px 14px;">{product_price}</td>
               </tr>
            
               <tr style="font-size: 14px;">
                 <td colspan="2" style="padding: 20px 0;"><img src="icon-deliv.png" alt="" style="padding-right: 10px;">Стоимость доставки: <span style="font-weight: bold; ">{shipping_cost}</span></td>
                 <td style="font-weight: bold; text-align: right;">Итого: {total}</td>
               </tr>
             </table>
            
             <table style="border-top: 1px solid #dedede; width: 100%;">
               <tr>
                 <td style="padding-top: 30px; text-align: right;"><img src="order1-pic.png" alt=""></td>
                 <td><img src="order1-cloud.png" alt=""></td>
               </tr>
             </table>
          </td>
        </tr>
      </table>
      
      <table class="footer" border="0" cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse;  font-family: 'OpenSans','Helvetica Neue', Helvetica, Arial, sans-serif;font-size:12px;line-height:16px; font-weight: lighter; color:#ffffff; background:#2f2f2f; text-align: left; margin-bottom:0px;">
        <tr>
          <td style="padding: 30px 10px 7px;padding-left: 40px; "> <img src="arrow-r.png" alt=""><a href="#" style="padding-left: 10px; color: #ffffff; text-decoration: none;">Обои и декор</a></td>
          <td style="padding: 30px 10px 7px;"> <img src="arrow-r.png" alt=""><a href="#" style="padding-left: 10px; color: #ffffff; text-decoration: none;">Лаки и краски</a></td>
          <td style="padding: 30px 10px 7px;"> <img src="arrow-r.png" alt=""><a href="#" style="padding-left: 10px; color: #ffffff; text-decoration: none;">Инструмент и инвентарь</a></td>
        </tr>
        <tr>
          <td style="padding: 7px 10px;padding-left: 40px; "> <img src="arrow-r.png" alt=""><a href="#" style="padding-left: 10px; color: #ffffff; text-decoration: none;">Сантехника, вентиляция</a></td>
          <td style="padding: 7px 10px;"> <img src="arrow-r.png" alt=""><a href="#" style="padding-left: 10px; color: #ffffff; text-decoration: none;">Строительные материалы</a></td>
          <td style="padding: 7px 10px;"> <img src="arrow-r.png" alt=""><a href="#" style="padding-left: 10px; color: #ffffff; text-decoration: none;">Все для сада</a></td>
        </tr>
        <tr>
          <td style="padding: 7px 10px;padding-left: 40px; "> <img src="arrow-r.png" alt=""><a href="#" style="padding-left: 10px; color: #ffffff; text-decoration: none;">Плитка, керамогранит</a></td>
          <td style="padding: 7px 10px;"> <img src="arrow-r.png" alt=""><a href="#" style="padding-left: 10px; color: #ffffff; text-decoration: none;">Электроинструмент</a></td>
          <td style="padding: 7px 10px;"> <img src="arrow-r.png" alt=""><a href="#" style="padding-left: 10px; color: #ffffff; text-decoration: none;">Расходные материалы</a></td>
        </tr>
        <tr>
          <td style="padding: 7px 10px;padding-left: 40px; "> <img src="arrow-r.png" alt=""><a href="#" style="padding-left: 10px; color: #ffffff; text-decoration: none;">Напольные покрытия</a></td>
          <td style="padding: 7px 10px;"> <img src="arrow-r.png" alt=""><a href="#" style="padding-left: 10px; color: #ffffff; text-decoration: none;">Электрика и освещение</a></td>
          <td style="padding: 7px 10px;"> <img src="arrow-r.png" alt=""><a href="#" style="padding-left: 10px; color: #ffffff; text-decoration: none;">Товары для дома, квилинг</a></td>
        </tr>
        <tr>
          <td colspan="3" style="padding-left: 40px; padding-top: 40px; padding-bottom: 14px;">
            <a href="#"><img src="icon-ok.png" alt="ok"></a>
            <a href="#"><img src="icon-fb.png" alt="facebook"></a>
            <a href="#"><img src="icon-google.png" alt="google"></a>
            <a href="#"><img src="icon-tw.png" alt="tw"></a>
            <a href="#"><img src="icon-vk.png" alt="vk"></a>
          </td>
        </tr>
        <tr style=" border-top: 1px solid #454545">
          <td colspan="2" style="padding-left: 40px; padding-bottom: 20px; padding-top: 20px;font-size: 14px; color: #ffffff; font-weight: normal;">Зайти на наш сайт <a href="neoseo.com.ua" style="color: #ee532a; font-weight: bold; ">neoseo.com.ua</a></td>
          <td style="padding-bottom: 20px; padding-top: 20px;"><img src="icon-mail.png" alt=""><a href="mailto:sport@gmail.com" style="padding-left: 20px; color: #ffffff; text-decoration: none;">sport@gmail.com</a></td>
        </tr>
      </table>
    </td>
  </tr>
</table>