<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" name="viewport" />
<title></title>
<style type="text/css">
  a:hover {text-decoration: underline !important;}

</style>
<!-- <div class=""></div> -->

<table class="wrapper" border="0" cellspacing="0" cellpadding="0" style="width: 100%; max-width: 700px; margin: 0 auto; font-family: 'OpenSans','Helvetica Neue', Helvetica, Arial, sans-serif;font-size:12px;">
  <tr>
    <td>
      <table  class="header" border="0" cellspacing="0" cellpadding="0" style="width: 100%;border-collapse: collapse;  line-height:16px; font-weight: bold; color:#fff;background:#ee532a;margin-bottom:0px;">
        <tr  style="">
          <td style=" padding: 17px 35px; text-align: center;">
            <a href="#" style="color: #fff; text-decoration: none; text-transform: uppercase; white-space: nowrap;">О нас</a>
          </td>
          <td style="color: #fff; text-decoration: none; padding: 17px 35px; text-align: center;">
            <a href="#" style="color: #fff; text-decoration: none; text-transform: uppercase; white-space: nowrap;">Политика</a>
          </td>
          <td style="color: #fff; text-decoration: none; padding: 17px 35px; text-align: center;">
            <a href="#" style="color: #fff; text-decoration: none; text-transform: uppercase; white-space: nowrap;">Акции</a>
          </td>
          <td style="color: #fff; text-decoration: none; padding: 17px 35px; text-align: center;">
            <a href="#" style="color: #fff; text-decoration: none; text-transform: uppercase; white-space: nowrap;">Информация</a>
          </td>
          <td style="color: #fff; text-decoration: none; padding: 17px 35px; text-align: center;">
            <a href="#" style="color: #fff; text-decoration: none; text-transform: uppercase; white-space: nowrap;">Контакты</a>
          </td>
        </tr>
      </table>
      
      <table  class="contacts" border="0" cellspacing="0" cellpadding="0" style="width: 100%;border-collapse: collapse;   line-height:16px; font-weight: bold; color:#000;background:#fff;margin-bottom:0px;">
        <tr>
          <td style="padding: 25px 5px; padding-left: 45px; text-align: left;"><img src="logo.png" alt="logo"></td>
          <td style="padding: 25px 5px; padding-left: 45px; text-align: left;">
            <div><img src="icon-ks.png" alt=""><a href="+74564783403" style="padding-left: 10px; text-decoration: none; color: #000; font-size: 14px; line-height: 30px;">+7(456) 478-34-03</a></div>
            <div><img src="icon-mts.png" alt=""><a href="+74564783403" style="padding-left: 10px; text-decoration: none; color: #000; font-size: 14px; line-height: 30px;">+7(456) 478-34-03</a></div>
          </td>
          <td style="padding: 25px 0px; padding-right: 10px; text-align: right;">
            <img src="icon-watch.png" alt="">
          </td>
          <td style="padding: 25px 5px; padding-left: 0px; text-align: left;">
            <div>Пн-Пт:<span style="font-weight: normal;">с 9.00 - 19.00</span></div>
            <div>Сб:<span style="font-weight: normal;">с 9.00 - 15.00</span></div>
          </td>
        </tr>
      </table>
      
      <table border="0" cellspacing="0" cellpadding="0" style="width: 100%;border: 30px solid #f6f6f6; border-left: 25px solid #f6f6f6; border-right: 35px solid #f6f6f6;">
        <tr>
          <td>
            <table class="emailMain" border="0" cellspacing="0" cellpadding="0" style="border-bottom: 1px solid #dedede; width: 100%;border-collapse: collapse;  font-family: 'OpenSans','Helvetica Neue', Helvetica, Arial, sans-serif; font-size:12px; line-height: 36px; ">
              <tr>
                <td colspan="2" class="title" style="padding: 45px 35px 25px;font-size: 30px; font-weight: 900; text-align: center; text-transform: uppercase;">Заказ отправлен <span style="color: #ed1c24;">по</span><div><img src="logo-np.png" alt=""></div></td>
              </tr>
              <tr>
                <td style="padding: 10px 10px 40px 35px; text-align: left; line-height:22px">
                  <div style=" font-size: 14px; font-weight: 700;">Ваш заказ {order_id} отправлен Новой почтой</div>
                </td>                
              </tr>
            </table>

            <table style="width: 100%; font-size: 14px; font-weight: 700;">
               <tr>
                <td style="border-bottom: 1px solid #dedede; padding: 20px 10px 20px 35px;"><img src="icon-deliv.png" alt="" style="padding-right: 10px;"> Адрес доставки:</td>
                <td style="border-bottom: 1px solid #dedede; text-align: left; font-weight: normal; padding: 20px 35px 20px 10px; width: 45%; ">Отделение №4 <br>{shipping_city}, {shipping_address_2}</td>
               </tr>
               <tr>
                <td style="vertical-align: top; padding: 20px 10px 20px 35px;">Номер ТТН:</td>
                <td style="text-align: left; font-weight: normal; padding: 20px 35px 20px 10px; width: 45%; ">08456</td>
               </tr>
            </table>
            
                        
             <table style="width: 100%;">
              <tr>
                <td colspan="2" style="padding-top: 30px; text-align: center;"><a href="#" style="display: inline-block; block; padding: 0 20px; font-size: 14px; line-height: 40px; font-weight: normal; color: #fff; text-decoration: none; background: #ed1c24; border-radius: 3px;">Отследить заказ!</a></td>
              </tr>
               <tr>
                 <td style="padding-top: 30px; text-align: right;"><img src="order1-pic.png" alt=""></td>
                 <td><img src="cloud-red.png" alt=""></td>
               </tr>
             </table>
          </td>
        </tr>
      </table>
      
      <table class="footer" border="0" cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse;  line-height:16px; font-weight: lighter; color:#fff; background:#2f2f2f; text-align: left; margin-bottom:0px;">
        <tr>
          <td style="padding: 30px 10px 7px;padding-left: 40px; "> <img src="arrow-r.png" alt=""><a href="#" style="padding-left: 10px; color: #fff; text-decoration: none;">Обои и декор</a></td>
          <td style="padding: 30px 10px 7px;"> <img src="arrow-r.png" alt=""><a href="#" style="padding-left: 10px; color: #fff; text-decoration: none;">Лаки и краски</a></td>
          <td style="padding: 30px 10px 7px;"> <img src="arrow-r.png" alt=""><a href="#" style="padding-left: 10px; color: #fff; text-decoration: none;">Инструмент и инвентарь</a></td>
        </tr>
        <tr>
          <td style="padding: 7px 10px;padding-left: 40px; "> <img src="arrow-r.png" alt=""><a href="#" style="padding-left: 10px; color: #fff; text-decoration: none;">Сантехника, вентиляция</a></td>
          <td style="padding: 7px 10px;"> <img src="arrow-r.png" alt=""><a href="#" style="padding-left: 10px; color: #fff; text-decoration: none;">Строительные материалы</a></td>
          <td style="padding: 7px 10px;"> <img src="arrow-r.png" alt=""><a href="#" style="padding-left: 10px; color: #fff; text-decoration: none;">Все для сада</a></td>
        </tr>
        <tr>
          <td style="padding: 7px 10px;padding-left: 40px; "> <img src="arrow-r.png" alt=""><a href="#" style="padding-left: 10px; color: #fff; text-decoration: none;">Плитка, керамогранит</a></td>
          <td style="padding: 7px 10px;"> <img src="arrow-r.png" alt=""><a href="#" style="padding-left: 10px; color: #fff; text-decoration: none;">Электроинструмент</a></td>
          <td style="padding: 7px 10px;"> <img src="arrow-r.png" alt=""><a href="#" style="padding-left: 10px; color: #fff; text-decoration: none;">Расходные материалы</a></td>
        </tr>
        <tr>
          <td style="padding: 7px 10px;padding-left: 40px; "> <img src="arrow-r.png" alt=""><a href="#" style="padding-left: 10px; color: #fff; text-decoration: none;">Напольные покрытия</a></td>
          <td style="padding: 7px 10px;"> <img src="arrow-r.png" alt=""><a href="#" style="padding-left: 10px; color: #fff; text-decoration: none;">Электрика и освещение</a></td>
          <td style="padding: 7px 10px;"> <img src="arrow-r.png" alt=""><a href="#" style="padding-left: 10px; color: #fff; text-decoration: none;">Товары для дома, квилинг</a></td>
        </tr>
        <tr>
          <td colspan="3" style="padding-left: 40px; padding-top: 40px; padding-bottom: 14px;">
            <a href="#"><img src="icon-ok.png" alt="ok"></a>
            <a href="#"><img src="icon-fb.png" alt="facebook"></a>
            <a href="#"><img src="icon-google.png" alt="google"></a>
            <a href="#"><img src="icon-tw.png" alt="tw"></a>
            <a href="#"><img src="icon-vk.png" alt="vk"></a>
          </td>
        </tr>
        <tr style=" border-top: 1px solid #454545">
          <td colspan="2" style="padding-left: 40px; padding-bottom: 20px; padding-top: 20px;font-size: 14px; color: #fff; font-weight: normal;">Зайти на наш сайт <a href="neoseo.com.ua" style="color: #ee532a; font-weight: bold; ">neoseo.com.ua</a></td>
          <td style="padding-bottom: 20px; padding-top: 20px;"><img src="icon-mail.png" alt=""><a href="mailto:sport@gmail.com" style="padding-left: 20px; color: #fff; text-decoration: none;">sport@gmail.com</a></td>
        </tr>
      </table>
    </td>
  </tr>
</table>