<?php if($neoseo_quick_order_status == 1){ ?>
<a href="javascript:void(0)" id="button-quick-order-cart" class="quick-button"  onclick="showQuickOrder('a%3A1%3A%7Bi%3A2931%3Bs%3A1%3A%222%22%3B%7D', '1', 'cart_product');">
    <span><?php echo $button_quick_order?></span>
</a>
<?php } ?>